$color-bg = white
// $color-bg = #F2F3F5
// $color-bg = darken(#bdc3c7, 20%)
// $color-bg = darken(#227FBB, 30%)

// ------ General Styles

body
  background-color $color-bg
  color $dark
  // font-family 'Hind Vadodara', sans-serif
  // font-family 'PT Sans', sans-serif
  // font-family 'Assistant', sans-serif
  // font-family 'Yantramanav', sans-serif
  // font-family 'Gudea', sans-serif
  font-family 'Raleway', sans-serif
  // font-family 'Roboto', sans-serif
h1
  font-family 'Cabin'
h2
  font-family 'Cabin'
h3
  font-family 'Cabin'
h4
  font-family 'Cabin'
h5
  font-family 'Cabin'
h6
  font-family 'Cabin'

button.poster
  margin-top 20px

hr.hr-padded
  max-width 850px
  margin-top 125px
  margin-bottom 125px
  +MQ(S)
    margin-top 85px
    margin-bottom 85px

footer
  padding-top 50px
  // padding-bottom 100px

h1
  padding 10px 0 10px 0

.extra-pad-top
  padding-top 10px

h2
  padding-bottom 10px
  font-size 28px
  font-style normal
  font-weight bold
  // letter-spacing -0.72px
  // text-decoration underline
@media (max-width $phone)
  h2.inverse.section-header
    max-width 280px
    // Center text manually
    display block
    margin-left auto
    margin-right auto

a.unstyled
  padding-right 10px
  padding-left 10px
  color $dark
  text-decoration none

a.stylized
  font-weight bold
  color #177177

.no-padding
  padding-top 0px !important

// Based on Medium's style sheet
h4.cd
  padding-top 30px
  font-family medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif
  font-size 28px
  font-style normal
  font-weight bold
  letter-spacing -0.72px

  +MQ(M)
    height 41px
    line-height 41.4px

h5.cd
  margin-top 20px

  font-family medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif
  font-size 22px
  font-style normal
  font-weight bold
  letter-spacing -0.72px

p.cd
  -webkit-font-smoothing antialiased
  color rgba(0, 0, 0, 0.8)
  font-family medium-content-serif-font, Georgia, Cambria, 'Times New Roman', Times, serif
  font-size(17px) // set elsewhere in this doc
  font-style normal
  font-weight normal
  letter-spacing -0.063px
  word-wrap break-word
  line-height 25px

  // +MQ(M)
  //   line-height 33.18px

  // font-size(16px)
  // +MQ(M)
  //   p.cd
  //     font-size(16px)


ul
  & li
    -webkit-font-smoothing antialiased
    color rgba(0, 0, 0, 0.8)
    font-family medium-content-serif-font, Georgia, Cambria, 'Times New Roman', Times, serif
    font-size 17px
    font-style normal
    font-weight normal
    // letter-spacing -0.063px
    word-wrap break-word
    line-height 25px
  & li a
    -webkit-font-smoothing antialiased
    // color rgba(0, 0, 0, 0.8)
    font-family medium-content-serif-font, Georgia, Cambria, 'Times New Roman', Times, serif
    font-size 17px
    font-style normal
    font-weight normal
    // letter-spacing -0.063px
    word-wrap break-word
    line-height 25px

// ------ Styles for index.html

.container-summary
  padding-bottom 50px
h1.container-header
  padding-bottom 20px

.figure-caption
  font-style italic
  padding-top 15px
  padding-botom 25px
  font-size 14px

center-content(width_per)
  width width_per
  height auto
  display block
  margin-left auto
  margin-right auto
  max-width 700px

// ------ Styles for images and figures

img.cd
  center-content(100%)

.small-juxtapose
  width 100%
  max-width 700px
  margin-left auto
  margin-right auto
  margin-top 40px
  margin-bottom 40px

figure.figure
  margin-top 40px
  margin-bottom 40px

.figure
  center-content(100%)

  @media (max-width 750px)
    width 100%
.small-cd
  width 100%

.narrow-cd
  max-width 300px

.center-fig
  display block
  margin-left auto
  margin-right auto

// video
//   center-content(50%)

// ------ Card Styles

// Materialistic Buttons that can be clicked on mobile
p.button
  padding-bottom 10px

button
  color $light
  // font-weight bold
  border none
  margin 0px
  padding 10px 30px 10px 30px
  /*Flat Button styles*/
  text-shadow 0 1px rgba(0, 0, 0, 0.3)
  cursor pointer
  transition background 0.2s ease-in-out
  border-radius 4px
  background-color #5499C7
  // box-shadow 0px 2px 0px 0px #154360
  & a i
    color $light
button:hover
  background-color #154360

button.poster
  display block
  margin-left auto
  margin-right auto
a.poster-container
  padding 0px !important

// box-shadow [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]
.card-container:hover .card
  background-color darken($color-bg, 8%)
.card-container:hover .card-image
  background-color darken($color-bg, 8%)

// Centering for cody panel
.mini-cd
  width 50%
  max-width 400px
  // Aligned title with main content of body text
  display block
  margin-right auto
  margin-left auto

.cd
  width 100%
  max-width 700px
  // Aligned title with main content of body text
  display block
  margin-right auto
  margin-left auto

// ------ Specific Over-rides

a.Eric_Pump
  padding 100%
.gif-text
  margin-top 120px
  padding 20px
  background-color darken(#227FBB, 30%)
  text-decoration none
.gif
  padding-top 25px


// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Callout box text styles
h1.text-center
  font-weight bold

h4.text-center
  padding-top 10px
  font-size 20px
  font-style normal
  letter-spacing -0.9px
