// Big Image for Hero Element
.header-image
  position: relative
  float: left
  z-index: 0
  // height: 500px
  height: 650px
  width: 100%
  background: url("../imgs/cover_capstone.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 10%

.callout-box
  position: relative
  float: left
  clear: both
  z-index: 3
  width: 52.8010416666%
  margin: -120px 0 0 23.6%
  padding-top: 50px
  padding-bottom: 50px
  padding-right 20px
  padding-left 20px
  background-color: rgba(255, 255, 255, 0.95)

@media (max-width: 1200px)
  .callout-box
    position: relative
    z-index: 3
    margin-left: 23.59844%

  .header-image
    position: relative
    z-index: 0
    height: 427px

@media (max-width: 992px)
  .callout-box
    position: relative
    z-index: 3
    margin-left: 10%
    width: 80%

// Project Cards
img_cover_mixin(url, left_spacing, top_spacing)
  background-image url("../imgs/" + url)
  background-repeat no-repeat
  background-size cover
  background-position left_spacing top_spacing
  height 280px
  width auto

// .project-TITLE-image
//   img_cover_mixin("TITLE.jpg", 50%)

.project-PhotoFrame-image
  img_cover_mixin("PhotoFrame/cover.jpg", 50%, 50%)
.project-PiAlarm-image
  img_cover_mixin("PiAlarm/cover.jpg", 50%, 50%)
.project-N1-image
  img_cover_mixin("N1/cover.png", 50%, 50%)
.project-SoundCloud-image
  img_cover_mixin("SoundCloud/cover.png", 0%, 0%)
.project-3DPrints-image
  img_cover_mixin("3DPrints/cover.jpg", 50%, 20%)
  // img_cover_mixin("3DPrints.jpg", 50%, 50%)
.project-extensions-image
  img_cover_mixin("Extensions/cover.png", 50%, 0%)
.project-MSD-image
  // Source: https://commons.wikimedia.org/wiki/File:96wells_glass_bottom_plate_1.jpg
  img_cover_mixin("MSD/cover.jpg", 50%, 50%)
.project-CAPSTONE-image
  img_cover_mixin("Capstone/Capstone-transparency.png", 50%, 70%)
  // img_cover_mixin("CAPSTONE.jpg", 50%, 50%)
.project-microfluidics-image
  img_cover_mixin("Microfluidics/microfluidics-02.jpg", 50%, 50%)
.project-bikeshare-image
  img_cover_mixin("Bikeshare/cover.jpg", 50%, 25%)
.project-Canon-image
  // Source: https://vimeo.com/73998150
  img_cover_mixin("Canon/cover.jpg", 50%, 15%)
.project-class_projects-image
  img_cover_mixin("ClassProjects/mathematica_01.png", 50%, 50%)
  // img_cover_mixin("class_projects.jpg", 50%)

// .project-side-project-image
//   img_cover_mixin("side-project-1.jpg", 50%)
// 4K...
// .project-microduino-image
//   img_cover_mixin("microduino.jpg", 50%)

.card-container
  padding-top 0
  padding-bottom 40px
  margin 0
  cursor pointer
  // When in same row, add spacing around cards
  @media (min-width: 768px)
    padding-right 20px
    padding-left 20px

.description-container
  height 180px
  padding-right 15px
  padding-left 15px
  @media (max-width: 768px)
    height 210px
    padding-right 5px
    padding-left 5px

  // Begin centering based on guide: http://www.w3.org/Style/Examples/007/center.en.html#block
  position relative

// Vertically center content
.description-container .content
   position absolute
   top 50%
   left 50%
   margin-right -50%
   transform translate(-50%, -50%)

// Other Misc
.section-spacing
  height 50px
  width 100%
  margin none !important
.inverse
  color light
.secondary-bg
  background-color light