// Big Image for Hero Element
.header-image
  position: relative
  float: left
  z-index: 0
  // height: 500px
  height: 650px
  width: 100%
  background: url("../imgs/cover_capstone.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 10%
.header-image-spacing
  margin-top: 10px
  margin-bottom: 10px

@media (max-width: $desktop)
  .header-image
    position: relative
    z-index: 0
    height: 427px
    margin-bottom: 30px

// Project Cards
img_cover_mixin(url, left_spacing, top_spacing)
  background-image: url("../imgs/" + url)
  background-repeat: no-repeat
  background-size: cover
  background-position: left_spacing top_spacing
  height: 180px
  width: auto
  overflow: hidden

// .project-TITLE-image
//   img_cover_mixin("TITLE.jpg", 50%)

// Work
.project-MSD-image
  // // Source: https://commons.wikimedia.org/wiki/File:96wells_glass_bottom_plate_1.jpg
  // img_cover_mixin("MSD/cover.jpg", 50%, 50%)
  img_cover_mixin("MSD/instruments.png", 50%, 50%)
.project-microfluidics-image
  img_cover_mixin("Microfluidics/microfluidics-02.jpg", 50%, 50%)
.project-Canon-image
  // Source: https://vimeo.com/73998150
  img_cover_mixin("Canon/cover.jpg", 50%, 15%)
.project-sustainametrix-image
  img_cover_mixin("SustainaMetrix/logo.gif", 50%, 25%)
.project-dassarma-image
  img_cover_mixin("DasSarma/Mut234_digest.png", 50%, 50%)
// Projects
.project-PiAlarm-image
  img_cover_mixin("PiAlarm/cover.jpg", 50%, 50%)
.project-bikeshare-image
  img_cover_mixin("Bikeshare/LockInUse.gif", 50%, 25%)
.project-CAPSTONE-image
  img_cover_mixin("Capstone/1_phone.jpg", 50%, 50%)
.project-PhotoFrame-image
  img_cover_mixin("PhotoFrame/cover.jpg", 50%, 50%)
.project-3DPrints-image
  img_cover_mixin("3DPrints/Fan Mount.jpeg", 50%, 40%)
// Volunteer
.project-4K-image
  img_cover_mixin("4K/D01_12.jpg", 40%, 30%)
.project-eagle-image
  img_cover_mixin("eagle/Group_Photo.jpg", 50%, 50%)
.project-Zoo-image
  img_cover_mixin("Zoo/DSC_0082_feed_count.jpg", 50%, 50%)
// Coursework
.project-quest-image
  img_cover_mixin("quest/pres4final.png", 50%, 40%)
.project-bioe340-image
  img_cover_mixin("bioe340/mathematica_01.png", 50%, 50%)
// Code
.project-N1-image
  img_cover_mixin("N1/cover.png", 50%, 50%)
.project-SoundCloud-image
  img_cover_mixin("SoundCloud/cover.png", 0%, 0%)
.project-extensions-image
  img_cover_mixin("Extensions/cover.png", 50%, 0%)


.card-container
  padding-top 0
  padding-bottom 40px
  margin 0
  cursor pointer
  // When in same row, add spacing around cards
  @media (min-width: $tablet)
    padding-right 5px
    padding-left 5px
  @media (max-width: $tablet)
    padding-right 50px
    padding-left 50px

.description-container
  height 180px
  padding-right 15px
  padding-left 15px
  @media (max-width: $tablet)
    height 210px
    padding-right 5px
    padding-left 5px

  // Begin centering based on guide: http://www.w3.org/Style/Examples/007/center.en.html#block
  position relative

// Vertically center content
.description-container .content
   position absolute
   top 50%
   left 50%
   margin-right -50%
   transform translate(-50%, -50%)

// Other Misc
.section-spacing
  height 50px
  width 100%
  margin none !important
.inverse
  color $light
.secondary-bg
  background-color $light