template(name="Canon_title")
	h1.cd Canon US Life Sciences

template(name="Canon")
	p.cd I worked on a really challenging project that unfortunately I can't share yet, but I can talk about some of the cool tools and skill sets that I acquired.