template(name="class_projects_title")
	h1.cd Class_projects

template(name="class_projects")
	p.cd The bioengineering curriculum is really interesting and we have many opportunities to explore new concepts including imaging, genetic analysis, and electronics.