template(name="extensions_title")
	h1.cd Chrome Extensions

template(name="extensions")
	h4.cd Summary
	p.cd This summer I ran into several challenges with website that I needed to overcome, so I taught myself how to build chrome extensions to simplify my daily experience and improve the UX of a website that I could otherwise not modify.

	h4.cd Challenges
	p.cd Data sync for chrome extension of clocked in / out...

	h4.cd Progress

	h4.cd Deliverables

	figure.figure
		img(src="imgs/microfluidics-2.jpg").small-cd
		figcaption.figure-caption.text-left Caption