template(name='microfluidics_title')
	h1.cd Microfluidics Researcher

template(name='microfluidics')
	h4.cd Summary
	p.cd Diagnosing diseases quickly and precisely takes new technology and innovation. Current diagnostic tests are done manually in a lab and can sometimes take a day or two for results. Knowing the result can influence treatment plans and avoid unnecessary follow up appointments. As an undergraduate researcher in the MML, I am working on one such technology that simplifies the process of making the diagnosis from a prepared sample. The final concept is a technology that can be integrated into a sample preparation device and could be placed in any primary care clinic or in the developing world.

	h4.cd The Technology
	p.cd Over a large fluid volume there may be only a few µliters of analyte, or the material that would identify the diseases or condition. Traditionally methods would continually mix and wait the sample to interact with a an activated surface. Our solution is a matrix of activated Low Melting Point (LMP) agarose beads. The large amount of surface area means that there is little to no delay to wait for diffusion, instead any binding reactions happen quickly and allows for a very small amount of analyte to be identified. The next step is the innovation. There are many tricks to determine how much analyte is captured, but they an additional fluid or expensive microscopes to determine the result of the diagnostic. To overcome the light scattering of the LMP agarose bead matrix, we can simply melt the beads into a single conglomerate that becomes transparent from the shape change. Using a simple integrated light detector, a clear diagnostic can be made.

	h4.cd Challenges
	ul
		li Quickly assess the validity of our assumption that melting agarose beads is feasible and has an optical improvement
		li Determine an effective chemical reaction to activate the agarose surface and detect the target analyte
		li Create tiny, ~30 µm diameter LMP agarose beads in large quantities without clogging and with high consistency in size distribution (i.e. avoid the beads coalescing and combining with each other)
		li Demonstrate the assay in a sample end device

	h4.cd Progress
	p.cd This an ongoing project that I will be working on for the winter of 2015 and the spring of 2016 thanks to two fellowships through The University of Maryland SEEDS program and the Maryland Technology ASPIRE grant.

	h5.cd Quickly assess the validity of our assumption that melting agarose beads is feasible and has an optical improvement
	p.cd Using a macro-scale experiment, I showed that melting beads inside a chip is feasible within our temperature constraints (the water inside the chip can't boil) and that an optical improvement was noticeable.

	figure.figure
		img(src="imgs/microfluidics-packed bead.jpg").small-cd
		figcaption.figure-caption.text-left Bead bed packed into a COC chip
	figure.figure
		img(src="imgs/microfluidics-?.jpg").small-cd
		figcaption.figure-caption.text-left The same chip heated with before and after pictures [pic... + knightlab...]


	h5.cd Determine an effective chemical reaction to activate the agarose surface and detect the target analyte
	p.cd Developing a chemical interaction was likewise difficult. I needed a reaction that is temperature stable under 100℃ and that would be easily hybridized onto agarose, a typically inert surface. I researched and found a ____ paper (citation) that I replicated in lab with a demonstrated experiment inside a custom ___ well plate.

	figure.figure
		img(src="imgs/microfluidics-?.jpg").small-cd
		figcaption.figure-caption.text-left Activated and control beads with before and after pictures when heated [pic... + knightlab...]



	h5.cd Create tiny, ~30 µm diameter LMP agarose beads in large quantities without clogging and with high consistency in size distribution
	p.cd Agarose is a highly temperature-sensitive fluid and when it begins to cool its becomes much more viscous. The temperature range is.... at room temp...

	p.cd For reference, below is a video of one my droplet generators in action:
	figure.figure
		//- converted using the Miro Video Converter
		//- video(autoplay, loop, muted, preload='auto', poster='imgs/microfluidics-1-placeholder.png').small-cd
		video(controls, loop, muted, preload='auto', poster='imgs/microfluidics-1-placeholder.png').small-cd
			source(src='imgs/microfluidics-1.webm', type='video/webm')
			source(src='imgs/microfluidics-1.mp4', type='video/mp4')
			source(src='imgs/microfluidics-1.ogv', type='video/ogv')
			img(src='imgs/microfluidics-1-placeholder.png')
		figcaption.figure-caption.text-left Water in oil droplet generation. Filmed on iPhone for higher frame rate

	h5.cd Determine an effective chemical reaction to activate the agarose surface and detect the target analyte
	p.cd Developing a chemical interaction was likewise difficult. I needed a reaction that is temperature stable under 100℃ and that would be easily hybridized onto agarose, a typically inert surface. I researched and found a ____ paper (citation) that I replicated in lab with a demonstrated experiment inside a custom ___ well plate.
	p.cd Using a custom-designed heated and cooled peltier-tile platform, the microfluidic chip can be run in a controlled environment to create many beads...
	p.cd raspberry pi-controlled peltier tiles....


	figure.figure
		img(src="imgs/microfluidics-2.jpg").small-cd
		figcaption.figure-caption.text-left Artistic shot of a PMMA microfluidic chip while inserting needle ports
	figure.figure
		img(src="imgs/microfluidics-2.jpg").small-cd
		figcaption.figure-caption.text-left Artistic shot of a PMMA microfluidic chip while inserting needle ports
	figure.figure
		img(src="imgs/microfluidics-2.jpg").small-cd
		figcaption.figure-caption.text-left Artistic shot of a PMMA microfluidic chip while inserting needle ports
	figure.figure
		img(src="imgs/microfluidics-2.jpg").small-cd
		figcaption.figure-caption.text-left Artistic shot of a PMMA microfluidic chip while inserting needle ports

	h4.cd Demonstrate the assay in a sample end device
	p.cd This is my current challenge. I have a quick demonstration that proved...

