template(name='microfluidics_title')
	h1.cd Microfluidics Researcher

template(name='microfluidics')
	p.cd As an undergraduate researcher, I have been working on a novel microfluidic immunosensor. Utilizing agarose beads, the matrix can be melted! Melted I say!
	img(src="images/Web Clock UX - Chrome Web Store Google Chrome, Today at 7.18.37 PM.png").cd
	p.cd One of the most interesting components of this website was the challenge of integrating a communication network with real time updates to the website's database. I solved this by building a minimalistic Node.JS application that communicates over Meteor's default Distributed Document Protocol (DDP). The Node application is run on an equally minimalist raspberry pi, which collects information over serial directly from a XBee module (our communications network). Through this process we can allow for two way communication and allow for a high throughput of information from our end-IOT devices.