template(name='microfluidics_title')
	h1.cd.hidden-xs Microfluidic Researcher
	h1.cd.hidden-sm.hidden-md.hidden-lg Microfluidics

template(name='microfluidics')
	h4.cd Summary
	p.cd Quick and efficient disease diagnostics require percision, innovation, and ingenuity. Current diagnostic tests are often performed by lab technicians and can take 24 to 48 hours to heed results. Accurate and reliable results can influence treatment plans to avoid unnecessary follow up appointments. As an undergraduate researcher in the MML, I am developing technology that simplifies the diagnostic process. The final product is a tool that can be integrated into a sample preparation device to be used by a variety of audiences including primary care physicians and doctors in developing countries.

	h4.cd The Technology
	p.cd Rather than waiting for an analyte sample to interact with an activated surface, our solution involves an efficient matrix of activated low melting point (LMP) agarose beads. The large surface area results in little to no delays in diffusion time, allowing for rapid binding reactions and the identification of small concentrations of analyte. Quantifying the amount of analyte requires a specific technique to overcome the opaque nature of the capture matrix. LMP agarose beads can be melted by an external heater to create a solid and transparent mass, overcoming light scatter and limited optical detection caused by silicon beads, monoliths, and agarose.

	h4.cd Challenges
	ul
		li Assess the validity of our assumption that melting agarose beads is feasible and has an optical improvement
		li Determine an effective chemical reaction to activate the agarose surface and detect the target analyte
		li Create ~30 µm diameter LMP agarose beads in large quantities, eliminate clogging, and maintain high consistency in size distribution to avoid bead coalescing
		li Verify the assay in a sample end device

	h4.cd Progress
	p.cd This is an ongoing project that I have the opportunity of working on throughout the remainder of the academic year thanks to the University of Maryland SEEDS fellowship program and the Maryland Technology ASPIRE grant.

	h5.cd Conducting a "Sanity Check"
	p.cd Using a macro-scale experiment, I proved the feasibility and optical improvements of melting beads inside a chip within specific temperature constraints. I ran a test to measure the LMP agarose's melting point and a second test to estimate optical improvement as shown in the photos and video below:

	figure.figure
		//- converted using the Miro Video Converter
		//- video(autoplay, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
		video(controls, loop, muted, preload='auto', poster='videos/microfluidics-03.png').small-cd
			source(src='videos/microfluidics-03.webm', type='video/webm')
			source(src='videos/microfluidics-03.mp4', type='video/mp4')
			source(src='videos/microfluidics-03.ogv', type='video/ogv')
			img(src='videos/microfluidics-03.png')
		figcaption.figure-caption.text-left LMP agarose melting point demonstration on glass slide

	p.cd Optical improvement test with a packed bead bed inside a COC chip. First at room temperature then after being placed inside an oven at 80°C for one minute.
	.small-juxtapose
		+juxtapose(id='bead-bed')

	figure.figure
			img(src="imgs/microfluidics-20.jpg").small-cd
			figcaption.figure-caption.text-left An separate view of the above COC chip prior to bead packing


	h5.cd Selecting the Chemical Reaction
	p.cd Through my research, I found several viable options for activating agarose. I selected a reaction that was stable between 0-100°C and could be modified for various end applications (Spencer, Melo, Perez, & Weller, 2005). I then activated several millimeter width agarose beads and demonstrated positive and negative controls, both before and after melting. The results were very promising and supported my assumptions to move forward with the reaction.

	figure.figure
		img(src="imgs/microfluidics-23.png").small-cd
		figcaption.figure-caption.text-left Large agarose beads used to demonstrate chemical reaction

	h5.cd Producing Agarose Beads
	p.cd  I used a well-studied co-flow droplet generator to produce the agarose beads. Liquid agarose is pumped into an intersection with an immiscible fluid, silicone oil. Due to the shear stress of this intersection, droplets of agarose bead off at a steady rate. Below is a video of one of my generators in action:

	figure.figure
		//- converted using the Miro Video Converter
		//- video(autoplay, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
		video(controls, loop, muted, preload='auto', poster='videos/microfluidics-02.png').small-cd
			source(src='videos/microfluidics-02.webm', type='video/webm')
			source(src='videos/microfluidics-02.mp4', type='video/mp4')
			source(src='videos/microfluidics-02.ogv', type='video/ogv')
			img(src='videos/microfluidics-02.png')

	//- figure.figure
	//- 	//- converted using the Miro Video Converter
	//- 	//- video(autoplay, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
	//- 	video(controls, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
	//- 		source(src='videos/microfluidics-01.webm', type='video/webm')
	//- 		source(src='videos/microfluidics-01.mp4', type='video/mp4')
	//- 		source(src='videos/microfluidics-01.ogv', type='video/ogv')
	//- 		img(src='videos/microfluidics-01.png')
	//- 	figcaption.figure-caption.text-left Water in oil droplet generation. Filmed on iPhone for higher frame rate

	p.cd Producing agarose beads has proven to be the most difficult component. Agarose is a finicky material because at room temperature it quickly gels and a gelling solution inside a microfluidic chip can alter internal pressures and flow rates or simply clog the device. However when I want the beads to gel into distinct beads, I need the beads to quickly cool.
	p.cd Finding a solution that met both needs is tricky, but I have made signifiant progress. Currently, I have built a platform nicknamed “Turtle-Bot” for its acrylic legs. The microfluidic chip is placed on top of peltier tiles, one around 40°C and the second around 5-10°C. Each tile is controlled by a raspberry pi with a PI controller. The combination of the 3D printed parts and laser cut supports allowed for rapid prototyping of this approach with a very fast turnaround.

	figure.figure
		img(src="imgs/microfluidics-26.jpg").small-cd
		figcaption.figure-caption.text-left Turtle Bot

	figure.figure
		img(src="imgs/microfluidics-25.jpg").small-cd
		figcaption.figure-caption.text-left Temporarily mounted raspberry pi PI controller

	p.cd While a flashy solution helped solve the issue of heating and cooling the microfluidic chip, I needed a simple solution for heating the dead volume inside the syringe. Using felt, electrical tape, tin foil, and heat tape, I designed a reusable and insulated design that would maintain a constant temperature of 60°C inside the syringe (pictured below).

	.small-juxtapose
		+juxtapose(id='Syring-heater')
	//- figure.figure
	//- 	img(src="imgs/microfluidics-25.jpg").small-cd
	//- 	figcaption.figure-caption.text-left Prototype syringe heater

	h5.cd Next Steps
	p.cd In the next few months, I will be working on an integrated demo that combines my progress with bead production and chemical diagnostic experiments inside a COC chip. Once completed, I hope to publish a paper and discuss the advantages of this approach for microfluidic diagnostics.

	h5.cd Works Cited
	p.cd
		a(href="http://www.ncbi.nlm.nih.gov/pubmed/15937360") Spencer, L., Melo, R., Perez, S., & Weller, P. (2005). A gel-based dual antibody capture and detection method for assaying of extracellular cytokine secretion: EliCell.
			i Methods in Molecular Biology
			| (Clifton, N.J.).
