template(name='microfluidics_title')
	h1.cd.hidden-xs Microfluidic Researcher
	h1.cd.hidden-sm.hidden-md.hidden-lg Microfluidics

template(name='microfluidics')
	.summary.cd
		h4.cd Summary
		p.cd I am an undergraduate researcher in the UMD MEMS and Microfluidics Lab (MML) run by Dr. Don DeVoe. Over the last year and a half, I have been pioneering a bead-based immunoassay for Ebola detection with a simple trick to improve optical clarity of an otherwise translucent matrix.
		p.cd Quick and efficient disease diagnostics require precision, innovation, and ingenuity. Current diagnostic tests are often performed by lab technicians and can take 12 to 24 hours to heed results. Accurate and reliable results can influence treatment plans and avoid unnecessary follow up appointments. I am developing a rapid, microfluidic technology that simplifies the diagnostic process. The final product is a tool that can be integrated into a sample preparation device to be used by a variety of audiences including primary care physicians and doctors in developing countries.
		a(href="/pdf/microfluidics.pdf" target="_blank").unstyled.poster-container
			button.poster
				i.fa.fa-file-pdf-o.fa-1x
				| Undergraduate Research Day Poster

	h4.cd The Technology
	p.cd Rather than waiting for an analyte in a sample to interact with an activated surface, our solution involves an efficient matrix of activated low melting point (LMP) agarose beads. The large surface area results in little to no delays in diffusion time, allowing for rapid binding reactions and the identification of small concentrations of analyte. Quantifying the amount of analyte requires a specific technique to overcome the opaque nature of the capture matrix. Typically, an additional fluid would be introduced to reduce the effects of light scattering and improve clarity. Unfortunately, an index-matching solution must be very viscous to match the optical properties of the matrix material leading to air bubbles, clogging, and increased device complexity. Instead, LMP agarose beads can be melted by an external heater to create a solid and transparent mass. External heaters allow for greater control, speed, and reduced complexity.

	h4.cd Challenges
	ul.cd
		li Assess the validity of our assumption that melting agarose beads is feasible and has an optical improvement
		li Determine an effective chemical reaction to activate the agarose surface and detect the target analyte
		li Create ~30 µm diameter LMP agarose beads in large quantities, eliminate clogging, and maintain high consistency in size distribution to avoid bead coalescing
		li Verify the assay in a sample end device

	h4.cd Progress
	p.cd This is an ongoing project that I have the opportunity of working on throughout the remainder of the academic year thanks to the University of Maryland SEEDS fellowship program and the Maryland Technology ASPIRE grant.

	h5.cd Conducting a "Sanity Check"
	p.cd Using a macro-scale experiment, I proved the feasibility and optical improvements of melting beads inside a chip within specific temperature constraints. I ran a test to measure the LMP agarose's melting point and a second test to estimate optical improvement as shown in the photos and video below:

	figure.figure
		//- converted using the Miro Video Converter
		//- video(autoplay, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
		video(controls, loop, muted, preload='auto', poster='videos/microfluidics-03.png').small-cd
			source(src='videos/microfluidics-03.webm', type='video/webm')
			source(src='videos/microfluidics-03.mp4', type='video/mp4')
			source(src='videos/microfluidics-03.ogv', type='video/ogv')
			img(src='videos/microfluidics-03.png')
		figcaption.figure-caption.text-left LMP agarose melting point demonstration on glass slide

	p.cd Optical improvement test with a packed bead bed inside a COC chip. First at room temperature then after being placed inside an oven at 80°C for one minute.
	.small-juxtapose
		+juxtapose(id='bead-bed')

	figure.figure
			img(src="imgs/microfluidics-20.jpg").small-cd
			figcaption.figure-caption.text-left An separate view of the above COC chip prior to bead packing


	h5.cd Selecting the Chemical Reaction
	p.cd Through my research, I found several viable options for activating agarose. I selected a reaction that was stable between 0-100°C and could be modified for various end applications (Spencer, Melo, Perez, & Weller, 2005). I then activated 2 mm diameter agarose beads and demonstrated positive and negative controls, both before and after melting. The results were encouraging and supported my assumptions to move forward with the reaction.

	figure.figure
		img(src="imgs/microfluidics-23.png").small-cd
		figcaption.figure-caption.text-left Large agarose beads used to demonstrate chemical reaction

	h5.cd Producing Agarose Beads
	p.cd  Using a well-studied co-flow droplet generator to produce the agarose beads, liquid agarose is pumped into an intersection with silicone oil, an immiscible fluid. The shear stress of the intersection allows for continual flow of agarose droplets at a steady rate. Below is a video of one of my generators in action:

	figure.figure
		//- converted using the Miro Video Converter
		//- video(autoplay, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
		video(controls, loop, muted, preload='auto', poster='videos/microfluidics-02.png').small-cd
			source(src='videos/microfluidics-02.webm', type='video/webm')
			source(src='videos/microfluidics-02.mp4', type='video/mp4')
			source(src='videos/microfluidics-02.ogv', type='video/ogv')
			img(src='videos/microfluidics-02.png')

	//- Pressing a needle port using precise...
	//- figure.figure
	//- 	//- converted using the Miro Video Converter
	//- 	//- video(autoplay, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
	//- 	video(controls, loop, muted, preload='auto', poster='videos/NeedlePress.png').small-cd
	//- 		source(src='videos/NeedlePress.webm', type='video/webm')
	//- 		source(src='videos/NeedlePress.mp4', type='video/mp4')
	//- 		source(src='videos/NeedlePress.ogv', type='video/ogv')
	//- 		img(src='videos/NeedlePress.png')

	//- figure.figure
	//- 	//- converted using the Miro Video Converter
	//- 	//- video(autoplay, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
	//- 	video(controls, loop, muted, preload='auto', poster='videos/microfluidics-1.png').small-cd
	//- 		source(src='videos/microfluidics-01.webm', type='video/webm')
	//- 		source(src='videos/microfluidics-01.mp4', type='video/mp4')
	//- 		source(src='videos/microfluidics-01.ogv', type='video/ogv')
	//- 		img(src='videos/microfluidics-01.png')
	//- 	figcaption.figure-caption.text-left Water in oil droplet generation. Filmed on iPhone for higher frame rate

	p.cd Maintaining optimal temperature within the microfluidic chip serves a critical and challenging role in agarose bead prouduction. At room temperature, agarose solidifies into a gel that can alter internal pressures and flow rates or clog the microfluidic chip.
	p.cd To maintain temperature control, I built Turtle-Bot, a rapidly protopyed platform nicknamed for its 4 acrylic legs. The microfluidic chip is placed on two peltier tiles, one around 40°C and the second around 5-10°C. A raspberry pi with a PID controller controls each peltier tile based on the thermocouple temperature readings and modulates the fans for the active heatsinks.

	figure.figure
		img(src="imgs/microfluidics-26.jpg").small-cd
		figcaption.figure-caption.text-left Turtle Bot
	figure.figure
		img(src="imgs/microfluidics-25.jpg").small-cd
		figcaption.figure-caption.text-left Temporarily mounted raspberry pi PI controller
	figure.figure
		img(src="imgs/microfluidics-27.jpg").small-cd
		figcaption.figure-caption.text-left All neatly stored out of the way in-between uses

	p.cd. To overcome the heating and cooling challenges, I used felt, electrical tape, tin foil, and heat tape to create a reusable and insulated material that maintains a constant temperature of 60°C within the syringe (pictured below). The tin foil creates a low friction surface to slide the syringe in and out, while serving as a mount for the heat tape and insulation.

	//- .small-juxtapose
	//- 	+juxtapose(id='Syring-heater')
	figure.figure
		img(src="imgs/microfluidics-30.png").small-cd
		figcaption.figure-caption.text-left Prototype syringe heater

	h5.cd Key Takeaways
	ul.cd
		li LMP agarose melts between 70-85°C and can be melted inside a microfluidic chip
		li A hydrazide reaction can be used to functionalize agarose for a dual-antibody capture diagnostic
		li Through selective heating and cooling, agarose droplets can be made with a diameter smaller than 30 µm
		li Rapid prototyping is useful for customizing microfluidic setups for a quick turnaround

	h5.cd Next Steps
	p.cd In the coming months, I will be working on an integrated COC chip demo that combines my progress with bead production and chemical diagnostic experiments. Once completed, I plan on publishing a paper to discuss the advantages of this approach for microfluidic diagnostics.

	h5.cd Works Cited
	p.cd
		a(href="http://www.ncbi.nlm.nih.gov/pubmed/15937360") Spencer, L., Melo, R., Perez, S., & Weller, P. (2005). A gel-based dual antibody capture and detection method for assaying of extracellular cytokine secretion: EliCell.
			i Methods in Molecular Biology
			| (Clifton, N.J.).