template(name="side-project_title")
	h1.cd Secret Side Project

template(name="side-project")
	h4.cd Not updated / currently not visible


	h4.cd Summary
	p.cd Don't tell anyone, but I'm working on a laser cut and 3D printed microscope stand with a ratcheted and spring-controlled system. I have a few ideas, but I don't have the time to fabricate all of the parts until after this semester is over.

	h4.cd Challenges

	h4.cd Progress

	h4.cd Deliverables

	figure.figure
		img(src="imgs/microfluidics-2.jpg").small-cd
		figcaption.figure-caption.text-left Caption