template(name="Slide_In_Panel_Placeholder_Title")
	h1.cd Null Title

template(name="Slide_In_Panel_Placeholder")
	h4.cd Summary
	p.cd Placeholder Text - you seem to have broken my link system. Go back to the main screen and try clicking the 'read more' button again.

	figure.figure
		img(src="imgs/3d_printing-1.jpg").small-cd
		figcaption.figure-caption.text-left A broken item