//- IconBulletPoints
.bullets
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-1
      img(src='http://www.honors.umd.edu/images/HCMark3.png', alt='')
    .bullet-content
      h2 Gemstone:
        br
        | Team BIKES
      p
        | Prototype innovative bike lock, design/code Meteor website and database and project champion.
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-2
      img(src='http://mathclub.math.umd.edu/UMDGlobe.gif', alt='')
    .bullet-content
      h2 MML:
        br
        | Researcher
      p
        | Research acoustofluidic sorting of cancer cell-targeted liposomes using MEMS and
        | develop water in oil emulsion technique to generate 10-20 µm Agarose beads at rate of 10 beads/sec
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-3
      img(src='/src/public/quest.png', alt='')
    .bullet-content
      h2 Quest:
        br
        | Innovator
      p
        | Remove 10-20% of wasted time during customer visits at Academic Computers for Terps and
        | prototype and develop business plan for a laptop security device and a food storage application