template(name='about')
  body.body.page-index.clearfix

    .header-image
    .callout-box.clearfix
      .name Kyle King
      p.description Developer, Engineer, Innovator

    h2.divider.divider-1 Highlighted Projects

    .project-card.project-card-1.clearfix
      .project-image.project-image-1
      .project-description.project-description-1.clearfix
        .description.description-2
          p Microfluidic Immunoassay Utilizing Novel Agarose Beads
          p Read More

    .project-card.project-card-2.clearfix
      .project-image.project-image-2
      .project-description.project-description-2.clearfix
        .description.description-3
          p Web Development and Design for a Stationless Bikeshare
          p Read More and See the Live Website

    .project-card.project-card-3.clearfix
      .project-image.project-image-3
      .project-description.project-description-3.clearfix
        .description.description-4
          p Chrome Extensions
          p Read More

    .project-card.project-card-4.clearfix
      .project-image.project-image-4
      .project-description.project-description-4.clearfix
        .description.description-5
          p Chrome Extensions
          p Read More

    .project-card.project-card-5.clearfix
      .project-image.project-image-5
      .project-description.project-description-5.clearfix
        .description.description-6
          p Web Development and Design for a Stationless Bikeshare
          p Read More and See the Live Website

    .element.clearfix
      h2.divider Get In Touch
      p.text.text-1
        | As a graudating senior from University of Maryland, College Park, I am looking for a full time position to begin in June 2016. I would like to talk about how I can bring my enthusiasm and multidisciplinary experience to your company.
      ul.text.text-2
        li {Email Icon} Want to get directly in touch?
        li {LinkedIn Icon} See my entire CV/Resume
        li {Github Icon} Test out the code I&apos;m working on
        li {Soundcloud Icon} See what I&apos;m listening to
