template(name='about')
	body.body.page-index.clearfix
		.row
			.header-image
			.callout-box.clearfix
				h1.text-center Kyle King
				h3.text-center Bioengineer, Programmer, Cyclist, Inventor

		.row.section-spacing
		.row.section-spacing
		.container
			.row
				h2.inverse.text-center Highlighted Projects
			.row.section-spacing

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
				.card-container#microfluidics
					.row.project-microfluidics-image
					.row.text-center.secondary-bg
						.description-container
							.content
								p Microfluidics Researcher
								button Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
				.card-container#bikeshare
					.row.project-bikeshare-image
					.row.text-center.secondary-bg
						.description-container
							.content
								p Web Developer for a Stationless Bikeshare
								button Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
				.card-container#side-project
					.row.project-side-project-image
					.row.text-center.secondary-bg
						.description-container
							.content
								p Work in Progress Projects
								button Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
				.card-container#Canon
					.row.project-Canon-image
					.row.text-center.secondary-bg
						.description-container
							.content
								p I spent the summer of 2015 at Cannon US Life Sciences
								button Read More

				.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
					.card-container#extensions
						.row.project-extensions-image
						.row.text-center.secondary-bg
							.description-container
								.content
									p Chrome Extension Side-Projects
									button Read More

				.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
					.card-container#3D_printing
						.row.project-3D_printing-image
						.row.text-center.secondary-bg
							.description-container
								.content
									p Misc 3D Printing Projects
									button Read More

				.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
					.card-container#alumni_cup
						.row.project-alumni_cup-image
						.row.text-center.secondary-bg
							.description-container
								.content
									p Alumni Cup Team Leader
									button Read More

				.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
					.card-container#class_projects
						.row.project-class_projects-image
						.row.text-center.secondary-bg
							.description-container
								.content
									p Cool Things from Class
									button Read More

				.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-1.col-xs-10
					.card-container#microduino
						.row.project-microduino-image
						.row.text-center.secondary-bg
							.description-container
								.content
									p 4K for Cancer and Side Projects
									button Read More

		.row.section-spacing

		.row.section-spacing.secondary-bg
		.secondary-bg
			.container
				.row
					h2.text-center Get In Touch
					p.col-lg-push-0.col-lg-6.col-md-push-2.col-md-8.col-sm-12
						| As a graduating senior from University of Maryland, College Park, I am looking for a full time position to begin in June 2016. I would like to talk about how I can bring my enthusiasm and multidisciplinary experience to your company, so please get in touch through one of the links below.
					.clearfix.hidden-lg
					.col-lg-6.col-md-12.text-center
						a(href="mailto:dev.act.kyle@gmail.com").unstyled
							i.fa.fa-envelope.fa-3x
						a(href="https://www.linkedin.com/pub/kyle-king/57/4/8b7").unstyled
							i.fa.fa-linkedin-square.fa-3x
						a(href="https://github.com/KyleKing").unstyled
							i.fa.fa-github-square.fa-3x
						a(href="https://soundcloud.com/kyle-king-11").unstyled
							i.fa.fa-soundcloud.fa-3x
		.row.section-spacing.secondary-bg