
<header class="centered-navigation">
  <div class="centered-navigation-wrapper"><a href="javascript:void(0)" class="mobile-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt=""/></a><a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="{{ site.baseurl }}/home/">Home</a></li>
      <li class="nav-link"><a href="{{ site.baseurl }}/about/">About</a></li>
      <li class="nav-link logo"><a href="{{ site.baseurl }}/" class="logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt=""/></a></li>
      <li class="nav-link"><a href="{{ site.baseurl }}/">Blog</a></li>
      <li class="nav-link more"><a href="javascript:void(0)">Categories</a>
        <ul class="submenu">
          <li><a href="javascript:void(0)">Science in the News</a></li>
          <li><a href="javascript:void(0)">Test</a></li>
          <li class="more"><a href="javascript:void(0)">Biking Against Cancer</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Pre-Ride Blog</a></li>
              <li><a href="javascript:void(0)">Ride Blog</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>