/* ------------------------------------------------------------
               Bourbon.io framework
               Docs:
                http://bourbon.io/docs/
                http://neat.bourbon.io/docs/#variables
                https://github.com/thoughtbot/bitters
------------------------------------------------------------*/
// Normalize.css File
// @@import 'normalize';

// Import files for Bourbon
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'neat/neat';
@import 'base/base';

/* ------------------------------------------------------------
               Custom stylization
------------------------------------------------------------*/

@import '_custom/_general';
@import '_custom/_hero';
@import '_custom/_projects';
@import '_custom/_contact';