body {
  background-color: rgb(38, 102, 135);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.project-description p,
.text-2 p {
  margin-bottom: 1em;
}

.callout-box {
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  width: 52.8010416666%;
  margin: -91px 0 0 23.6%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(254, 254, 254);
}

.callout-box .description {
  clear: both;
  width: 80.3051326735%;
  margin-left: 9.83843%;
  font-size: 1.25em;
  color: rgb(3, 3, 3);
}

.description {
  float: left;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
}

.divider {
  font-size: 1.563em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
}

.element {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 49px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
}

.element .divider {
  width: 38.347486413%;
  margin: 0 auto;
  border-bottom: 3px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.header-image {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 429px;
  background: url('../images/IMG_0792.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
}

.name {
  float: left;
  width: 74.2432512412%;
  margin-left: 12.84894%;
  font-size: 1.875em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(3, 3, 3);
}

.project-card {
  float: left;
}

.project-description {
  float: left;
  clear: both;
  width: 99.8849150141%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-description .description {
  width: 73.504387131%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.project-image {
  float: left;
  width: 99.8849150141%;
  height: 191px;
  background-color: rgb(222, 222, 222);
}

.text {
  position: relative;
  float: left;
  margin-top: 40px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.description-2 {
  margin-left: 13.26732%;
}

.description-3,
.description-4,
.description-5,
.description-6 {
  margin-left: 13.26767%;
}

.divider-1 {
  float: left;
  clear: both;
  width: 39.2%;
  margin: 71px 0 0 30.4%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.project-card-1 {
  position: relative;
  clear: both;
  z-index: 8;
  width: 39.1770833333%;
  margin: 35px 0 0 10%;
}

.project-card-2 {
  position: relative;
  z-index: 12;
  width: 39.1765625%;
  margin: 35px 0 0 1.62292%;
}

.project-card-3 {
  position: relative;
  clear: both;
  z-index: 16;
  width: 39.1765625%;
  margin: 28px 0 0 10%;
}

.project-card-4 {
  position: relative;
  z-index: 24;
  width: 39.1765625%;
  margin: 28px 0 0 1.62292%;
}

.project-card-5 {
  clear: both;
  width: 39.1765625%;
  margin: 23px 0 0 10%;
}

.project-description-1 {
  background-color: rgb(255, 251, 251);
}

.project-description-3,
.project-description-4 {
  background-color: rgb(253, 253, 253);
}

.project-description-2,
.project-description-5 {
  background-color: rgb(255, 255, 255);
}

.project-image-1 {
  background-image: url('../images/IMG_1455.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-image-3,
.project-image-4 {
  background-image: url('../images/Web%20Clock%20UX%20-%20Chrome%20Web%20Store%20Google%20Chrome,%20Today%20at%207.18.37%20PM.png'), url('../images/IMG_1144.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center top, 50% 25%;
  background-attachment: scroll, scroll;
}

.project-image-2,
.project-image-5 {
  background-image: url('../images/IMG_1144.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
}

.text-1 {
  clear: both;
  z-index: 18;
  width: 39.4234375%;
  margin-left: 9.77396%;
}

.text-2 {
  z-index: 19;
  width: 39.2%;
  margin-left: 1.6%;
  text-align: center;
}

@media(max-width: 1000px) {
  .callout-box {
    position: relative;
    z-index: 3;
    margin-left: 23.59844%;
  }

  .callout-box .description {
    margin-left: 9.83369%;
  }

  .callout-box .name {
    margin-left: 12.84624%;
  }

  .divider {
    margin-left: 30.39844%;
  }

  .element {
    margin-top: 60px;
  }

  .element .text {
    position: relative;
    margin-top: 25px;
  }

  .header-image {
    position: relative;
    z-index: 0;
    height: 427px;
  }

  .project-card {
    width: 80%;
  }

  .project-description .description {
    margin-left: 13.26333%;
  }

  .element .text-1 {
    z-index: 18;
    width: 66.4%;
    margin-left: 16.8%;
  }

  .element .text-2 {
    clear: both;
    z-index: 19;
    width: 80%;
    margin-left: 10%;
  }

  .project-card-1 {
    position: relative;
    z-index: 8;
  }

  .project-card-2 {
    position: relative;
    clear: both;
    z-index: 12;
    margin-left: 10%;
  }

  .project-card-3 {
    position: relative;
    z-index: 16;
    margin-top: 35px;
  }

  .project-card-4 {
    position: relative;
    clear: both;
    z-index: 24;
    margin-top: 35px;
    margin-left: 10%;
  }

  .project-card-5 {
    margin-top: 35px;
  }
}