/* ------------------------------------------------------------
               Bourbon.io framework
               Docs:
                http://bourbon.io/docs/
                http://neat.bourbon.io/docs/#variables
                https://github.com/thoughtbot/bitters
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ------------------------------------------------------------
               Custom stylization
------------------------------------------------------------*/
body {
  background-color: #2C3E50;
  color: white; }

#Container {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15.625em; }

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(-5em);
    opacity: 0; }

  to {
    -webkit-transform: translateX(0);
    opacity: 1; } }

@-moz-keyframes slideIn {
  from {
    -moz-transform: translateX(-5em);
    opacity: 0; }

  to {
    -moz-transform: translateX(0);
    opacity: 1; } }

@keyframes slideIn {
  from {
    -webkit-transform: translateX(-5em);
    -moz-transform: translateX(-5em);
    -ms-transform: translateX(-5em);
    -o-transform: translateX(-5em);
    transform: translateX(-5em);
    opacity: 0; }

  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

h1.name {
  opacity: 0;
  -webkit-animation: slideIn 1.1s ease-in-out;
  -moz-animation: slideIn 1.1s ease-in-out;
  animation: slideIn 1.1s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

h3.pitch {
  opacity: 0;
  -webkit-animation: slideIn 1.1s ease-in-out;
  -moz-animation: slideIn 1.1s ease-in-out;
  animation: slideIn 1.1s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

button.CTA {
  opacity: 0;
  -webkit-animation: slideIn 1.1s ease-in-out;
  -moz-animation: slideIn 1.1s ease-in-out;
  animation: slideIn 1.1s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s; }

section.social img {
  margin-top: 2.5em;
  height: 2.5em;
  width: auto; }

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(-20px);
    opacity: 0; }

  to {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    -moz-transform: translateY(-20px);
    opacity: 0; }

  to {
    -moz-transform: translateY(0);
    opacity: 1; } }

@keyframes fadeIn {
  from {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }

  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

a.facebook {
  opacity: 0;
  -webkit-animation: fadeIn 0.75s ease-in-out;
  -moz-animation: fadeIn 0.75s ease-in-out;
  animation: fadeIn 0.75s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s; }

a.github {
  opacity: 0;
  -webkit-animation: fadeIn 0.75s ease-in-out;
  -moz-animation: fadeIn 0.75s ease-in-out;
  animation: fadeIn 0.75s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s; }

a.linkedin {
  opacity: 0;
  -webkit-animation: fadeIn 0.75s ease-in-out;
  -moz-animation: fadeIn 0.75s ease-in-out;
  animation: fadeIn 0.75s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s; }
