//- .navMenu
  //- .navIcon
  //-   a(href='javascript:void(0)')
  //-       img(src='RedBarsLogo.png')
  ul.navItems
    li.left
      a(href="#heroUnit") about
    //- li.left
    //-   a(href="{{pathFor 'about'}}") about
    li.right
      a(href="#connect") connect