doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    title Kyle King
    meta(name="description", content="Student entrepreneur working in microfluidics and medical devices")
    meta(name="keywords" content="student, software, University of Maryland, Kyle King, intern, junior, medical devices, resume")
    meta(name="author" content="Kyle King")
    //- Place favicon.ico and apple-touch-icon.png in the root directory
    //- Style Sheets
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="/tmp/styles/style.css")
