include head
body
   block homePage
   script(src="dist/js/smooth-scroll.js")
     //- script(src="http://vincentgarreau.com/particles.js/particles.js")
     //- script(src="src/scripts/particles.js")
   script.
      smoothScroll.init();
   script(src="http://code.jquery.com/jquery-1.11.1.min.js")
   script.
      // Create a function that takes two arguments and returns the sum of those arguments
      //- var adder = new Function('a', 'b', 'return a + b');
      $(document).ready(function () {
         function reset() {
            //- Set columns back to normal
            $("#bioe").addClass("equal");
            $("#bioe").removeClass("min");
            $("#bioe").removeClass("max");
            $("#dvlp").addClass("equal");
            $("#dvlp").removeClass("max");
            $("#dvlp").removeClass("min");
            $("#lead").addClass("equal");
            $("#lead").removeClass("max");
            $("#lead").removeClass("min");
            //- Show all material
            $(".prime-alt").removeClass("hide");
            $(".prime-bioe").removeClass("hide");
            $(".prime-lead").removeClass("hide");
            $(".prime-dvlp").removeClass("hide");
            //- Expand nav to focus on navigation
            $("#Logo").removeClass("hide");
            $("#bioe").addClass("tall_block");
            $("#bioe").removeClass("short_block");
            $("#dvlp").addClass("tall_block");
            $("#dvlp").removeClass("short_block");
            $("#lead").addClass("tall_block");
            $("#lead").removeClass("short_block");
            //- Reset footer color to default BIOE
            $(".color_fill").addClass("bioe");
            $(".color_fill").removeClass("dvlp");
            $(".color_fill").removeClass("lead");
         }

         function augment(id) {
            reset();
            //- Set alternative ID's to selected
            if (id === 'bioe') {
               secId = 'dvlp';
               thrId = 'lead';
            } else if (id === 'dvlp') {
               secId = 'bioe';
               thrId = 'lead';
            } else {
               secId = 'bioe';
               thrId = 'dvlp';
            }
            //- Set columns to match selection
            $('#'.concat(id)).removeClass("equal");
            $('#'.concat(id)).removeClass("min");
            $('#'.concat(id)).addClass("max");
            $('#'.concat(secId)).removeClass("equal");
            $('#'.concat(secId)).removeClass("max");
            $('#'.concat(secId)).addClass("min");
            $('#'.concat(thrId)).removeClass("equal");
            $('#'.concat(thrId)).removeClass("max");
            $('#'.concat(thrId)).addClass("min");
            //- Focus on only relevant content by hiding non-relevant material
            $(".prime-alt").addClass("hide");
            $(".prime-".concat(id)).removeClass("hide");
            $(".prime-".concat(secId)).addClass("hide");
            $(".prime-".concat(thrId)).addClass("hide");
            //- Shrink nav to focus on content
            $("#Logo").addClass("hide");
            $('#'.concat(id)).removeClass("tall_block");
            $('#'.concat(id)).addClass("short_block");
            $('#'.concat(secId)).removeClass("tall_block");
            $('#'.concat(secId)).addClass("short_block");
            $('#'.concat(thrId)).removeClass("tall_block");
            $('#'.concat(thrId)).addClass("short_block");
            //- Change footer color to match selection
            $(".color_fill").addClass(id);
            $(".color_fill").removeClass(secId);
            $(".color_fill").removeClass(thrId);
         }

         $("#Logo").click(function () {
            reset();
         });
         $(".content").click(function () {
            reset();
         });
         $("#bioe").click(function () {
            augment("bioe");
         });
         $("#dvlp").click(function () {
            augment("dvlp");
         });
         $("#lead").click(function () {
            augment("lead");
         });
      });