include head
body
   block homePage
   script(src="dist/js/smooth-scroll.js")
     //- script(src="http://vincentgarreau.com/particles.js/particles.js")
     //- script(src="src/scripts/particles.js")
   script.
      smoothScroll.init();
   script.
      $(document).ready(function () {
          $(".foo").hover(function () {
              $(".bar").css("border", "5px red solid");
          });
          $(".foo").mouseleave(function () {
              $(".bar").css("border", "none");
          });
      });