extends ../layout.jade

block title
	h1.cd.hidden-xs Side-Projects
	h1.cd.hidden-sm.hidden-md.hidden-lg Projects

block Slide_In_Panel_Content
	h4.cd Summary
	p.cd 3D printing and rapid prototyping are amazing tools. Over the past two years I've had the opportunity to make many different prototypes using a variety of rapid prototyping techniques. Here is a collection of the things that I use daily and found worthwhile.

	h4.cd Challenges
	p.cd ...tolerances and accounting for shrinkage in each 3D printed-part... Also strength, while optimizing for low cost and minimal mass

	h4.cd Progress

	h4.cd Deliverables