extends ../layout.jade

block title
	h1.cd.hidden-xs Current Projects
	h1.cd.hidden-sm.hidden-md.hidden-lg Current

block Slide_In_Panel_Content
	h4.cd What I'm Working on Now
	ul.cd
		li Open Source Software:
			a(href="https://github.com/aldeed/meteor-tabular/issues/162")
				| &nbsp;Tabular Tables PR to support client-side collection helpers

	h4.cd Previous Projects
	p.cd These will be updated over the next few weeks, so feel free to check back
	ul.cd
		li Open Source Software
			ul.cd
				li
					a(href="https://atmospherejs.com/kyleking/juxtapose-js") Juxtapose.JS Meteor package
					| &nbsp;built to make the slider images on this site easier for other Meteor developers
				li
					a(href="https://atmospherejs.com/kyleking/customizable-bootstrap-stylus") Customizable Bootstrap Stylus Meteor package
					| &nbsp;which allows for users to on the fly select Bootstrap components
				li
					a(href="https://github.com/aldeed/meteor-tabular/issues/162") Tabular Tables PR
					| &nbsp;to share example code for multi-column sort
				li
					a(href="https://github.com/PhilippSpo/momentum-flow-router/pull/7") Momentum Router PR
					| &nbsp;that offered reduced redundancy and simple configuration for navigation animations

		li Class Projects (Bioengineering is very cool)
			ul.cd
				li Built a pulse oximeter and 3D-printed finger clamp
				li MatLab-based bioinformatics projects and genetic analysis
				li MatLab for bioimaging
