extends ../layout.jade

block title
	h1.cd.hidden-xs Alumni Cup
	h1.cd.hidden-sm.hidden-md.hidden-lg Alumni Cup

block Slide_In_Panel_Content
	h4.cd Summary
	p.cd For the 2015 school year, I helped lead the Alumni Cup. Here is my experience...

	h4.cd Challenges

	h4.cd Progress

	h4.cd Deliverables