extends ../layout.jade

block title
	h1.cd.hidden-xs BIOE340
	h1.cd.hidden-sm.hidden-md.hidden-lg BIOE340

block Slide_In_Panel_Content
	h4.cd Course: Modeling Physiological Systems
	p.cd We covered a broad array of topics from cell and general physiology, circulation, metabolism, and the nervous system. In lab, we analyze muscle contractions in a frog leg to understand the refractory period and conducted an ECG analysis on a classmate with Matlab.

	//- p Only the formula should display in Katex: \(2+3=5\)

	//- +katex
	//- 	| c = \pm\sqrt{a^2 + b^2}
	//- else
	//- 	| There was a parsing error.

	//- //- {{#katex}}
	//- //- 	c = \pm\sqrt{a^2 + b^2}
	//- //- {{else}}
	//- //- 	There was a parsing error.
	//- //- {{/katex}}

	h5.cd ECG Signals Analysis Lab
	p.cd
		strong Challenges:
		|  The ECG data captured in lab was noisy and realistic, which made determining the relevant peaks for analysis difficult

	p.cd Using Matlab, we first had to de-trend the data to establish a clear baseline. We then applied a Savitzky-Golay transform to smooth out the graph and eliminate oscillation and noise around the peaks. With a cleaner signal, we could collect an array of all of the local maxima and minima. Filtering out any points not following the P-QRS-T pattern, the final dataset is ready for diagnosis. After calibrating the algorithm to a sample data set, we could now dynamically analyze new data sets in close to real time.
	figure.figure
		img(src=path + "imgs/bioe340/mathematica_01.png").small-cd
		figcaption.figure-caption.text-center Combined ECG leads with highlighted peaks

	p.cd For the last step of diagnosis, we needed to capture the mean electrical axis of the heart. The axis pointing down and to the right suggests normal heart depolarization and a diagnosis of no Bradycardia.
	figure.figure
		img(src=path + "imgs/bioe340/mathematica_02.png").small-cd
		figcaption.figure-caption.text-center Mean Electrical Axis

	//- FIXME: Add more content!

	//- h4.cd BIOE420 Bioimaging
	//- p.cd We learned about the major biomedical imaging modalities including fluorescent and visible spectra imaging, X-Ray, CT, PET, MRI, and Ultrasound. Applying our understanding we had interesting homework assignments that walked us through the basic mathematics behind such systems. For one such assignment, we used a fourier transform on a basic square wave.

	//- figure.figure
	//- 	img(src=path + "imgs/bioe420/HW2_03.png").small-cd
	//- 	figcaption.figure-caption.text-left Fourier transform of a square wave
