extends ../layout.jade

block title
	h1.cd.hidden-xs Canon US Life Sciences
	h1.cd.hidden-sm.hidden-md.hidden-lg Canon

block Slide_In_Panel_Content
	//- .summary.cd
	h4.cd Summary
	p.cd The Canon US Life Sciences internship program pairs an intern with a mentor to focus on unique projects that generate new intellectual property. For my project over the summer of 2015, I prototyped a novel technique to concentrate large sample volumes within a microfluidic consumable. One of the main issues with microfluidic technology is the reliance on small sample volumes which may not be representative of the patient's system. When a biomarker occurs only in low concentrations, a small sample volume has the statistical potential to emit or concentrate the target biomarker leading to an incorrect diagnosis. The concept device concentrates large samples up to 1 ml into small volumes that are optimal for microfluidic processing. Canon is currently protecting the technology as a trade secret during development with plans of patenting the technology.

	hr.hr-padded

	h4.cd Experience
	ul.cd
		li Designed and automated a prototype mechatronic system
		li Conducted data analysis and developed image processing routines with MATLAB
		li Designed components in SolidWorks and underwent design reviews before sending drawings out to a 3rd party supplier
		li Utilized a full machine shop, laser cutter, Roland CNC milling machine, and Formlabs SLA printer to quickly iterate over multiple prototypes
		li Conducted market research including review of 510(K) submissions
		li Filed an internal invention disclosure

	//- figure.figure
	//- 		img(src=path + "imgs/canon/TODO.jpg").small-cd
	//- 		figcaption.figure-caption.text-left TODO
