extends ../layout.jade

block title
	h1.cd.hidden-xs Canon US Life Sciences
	h1.cd.hidden-sm.hidden-md.hidden-lg Canon

block Slide_In_Panel_Content
	//- .summary.cd
	h4.cd Summary
	p.cd Over the summer of 2015, I built the first prototype for a unique fluidic handling system designed for biological sample preparation and downstream PCR. I gained new experience by applying image analysis with MATLAB, automating precise protocols with stepper motor control, and applying engineering principles. Additionally, I gained rapid prototyping experience from utilizing a full machine shop, laser cutter, Roland CNC milling machine, Formlabs SLA printer, and Solidworks.