extends ../layout.pug

block title
    h1.cd.hidden-xs DasSarma Lab
    h1.cd.hidden-sm.hidden-md.hidden-lg DasSarma Lab

block Slide_In_Panel_Content
    .summary.cd
        h4.cd Summary
        p.cd I interned in the DasSarma lab the summer after finishing my Freshman year in college. In the lab, I learned new lab techniques, read a number of papers, and created a stock of plasmids ready for further research. Additionally, to help manipulate the raw DNA sequence information, I picked up my first coding experience.
        a(href="http://www.medschool.umaryland.edu/dassarma_lab/").unstyled.poster-container
            button.poster
                i.fa.fa-file-pdf-o.fa-1x
                | &nbsp;Official Lab Website

    hr.hr-padded

    h4.cd Research
    p.cd The DasSarma lab studies Halophiles in order to better understand how these organisms can thrive in extremely salty conditions. Understanding the protein folding confirmations and sequences that make this possible could have applications ranging anywhere from increasing protein therapeutics to drug delivery. At the DasSarma lab, I worked with the <i>Halobacterium</i> sp. NRC-1 for all of my research. Over the summer, my goal was to create several plasmids, each with a unique base pair substitution. The resulting Halobacterium would then be used in protein expression studies to research the implications of the base pair substitutions and how they affected protein folding and function.

    h4.cd Plasmid Preparation
    p.cd In the lab, all of the preparations and steps were completed using manual methods rather than relying on kits to both have a better understanding of the process and to be able to optimize the protocol for our particular species.
    ol.cd
        li For the target protein, select the base pair substitution(s)
        li Design a vector that includes restriction enzyme sites and the modified protein sequence. The sequence needs to be throughly checked to make sure that the selected restriction enzymes will only identify the targeted regions among other considerations
        li The synthetically produced sequence is kept within a small E. coli plasmid for transport, but for any additional work, the sequence needs to be amplified and inserted into a Halobacterium plasmid
        ol
            li E. coli cells with the custom plasmid are plated and allowed to grow
            li Colonies are selected, reviewed by optical microscopy, then lysed with a detergent
            li The lysed cell material is cleaned up with a typical DNA mini-prep process
            li The sequence of interest is isolated by first digesting the raw DNA material with pre-selected restriction enzymes, then amplifying the sequence with PCR
            li Once PCR is complete, there will be millions of the target sequence, but there will also be other unwanted DNA and base pairs
            li The amplified DNA sequence is isolated by running the bulk DNA through gel electropheresis, which separates the DNA by length
            li The gel is then imaged and the section of the gel with the amplified sequenced is carefully cutout
            li The cutout section can then be melted and resuspended. At this point, the target sequence has been isolated in a concentrated volume and aliquots are frozen for safe keeping, while some is kept available for the next steps
        li The mutated sequence is then introduced into the Halobacterium plasmid by a ligation reaction. Restriction enzymes can be used to expose sticky ends from the plasmid that match the ends of the target sequence.
        li The final plasmid is then grown in <i>Halobacterium</i> sp. NRC-1
        li To confirm that the sequence made it into the final cell cultures. Colonies are picked, lysed, prepped, and then re-amplified with PCR. The resulting amplified DNA solution is analyzed with gel electrophersis and when comparing different stages of digestion, the target sequence can be confirmed. Below are the example results from the verification test of one of the ten mutants I worked on:

    figure.figure
        img(src=path + "imgs/DasSarma/mut_1_map.png").small-cd
        figcaption.figure-caption.text-left Predicted full digest will be 204 bp

    figure.figure
        img(src=path + "imgs/DasSarma/mut_1_gel.png").small-cd
        figcaption.figure-caption.text-left Resulting Gel Electropheresis, the band around 200 bp indicates the presence of the desired sequence
