extends ../layout.pug

block title
    h1.cd.hidden-xs Boy Scouts
    h1.cd.hidden-sm.hidden-md.hidden-lg Boy Scouts

block Slide_In_Panel_Content
    .summary.cd
        h4.cd Summary
        p.cd I was late to join Cub Scouts, but after seeing a presentation in lunch one day, I remember being excited to try archery and join. I caught up in rank and earned the arrow of light then transitioned to Boy Scouts starting in sixth grade. As a Boy Scout I learned numerous outdoor skills, leadership skills, and many life lessons. As a scout, we were evacuated due to a flash flood then spent the night in a firehouse and spent a week on an island in the Florida Keys. I completed my Eagle Project in the Spring of 2010.
        //- a(href="https://github.com/KyleKing/PiAlarm").unstyled.poster-container
        //-     button.poster
        //-         i.fa.fa-file-pdf-o.fa-1x
        //-         | &nbsp;&nbsp;SOMEFILE

    hr.hr-padded

    h4.cd Eagle Scout Project
    p.cd The Eagle Scout project is an opportunity to demonstrate leadership skills and implement a project to help your community. For the Maryland Zoo in Baltimore, I led a project to build fire hose enrichment items for the Chimpanzees and Elephants. I reached out local firehouses and hardware companies for donations then recruited most of my scout troop and available parents. Working most of a Saturday, we completed three hammocks and two balls for the Maryland Zoo.
    figure.figure
        img(src=path + "imgs/eagle/Group_Photo.jpg").small-cd
        //- figcaption.figure-caption.text-left All of the volunteers
    figure.figure
        img(src=path + "imgs/eagle/DSC_0058_trunk.jpg").small-cd
        figcaption.figure-caption.text-left Ready to go to the zoo!

    .row.cd.footer-nav
        a(href="4K.html").footer-link.col-xs-12.col-sm-6
            h4.footer-back
                .fa.fa-arrow-left
                | &nbsp;&nbsp;4K for Cancer
        a(href="zoo.html").footer-link.col-xs-12.col-sm-6
            h4.footer-next
                | Maryland Zoo in Baltimore&nbsp;&nbsp;
                .fa.fa-arrow-right
