extends ../layout.jade

block title
	h1.cd.hidden-xs 404 - Not Found
	h1.cd.hidden-sm.hidden-md.hidden-lg 404 Error

block Slide_In_Panel_Content
	h4.cd You must be lost! Not to worry, go back to the main page:

	h6
		a(href='http://kyleking.me')
