extends ../layout.pug

block title
	h1.cd.hidden-xs Meso Scale Diagnostics
	h1.cd.hidden-sm.hidden-md.hidden-lg MSD

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd As a Systems Engineer I at MesoScale Diagnostics, I have worked on every part of an instrument's life cycle. From prototype systems under development to implementing improvements to instruments in the field.

	hr.hr-padded

	h4.cd Experience
	ul.cd
		li Contributed to Product Requirements Documents (PRD), Systems Design Specifications (SyDS), Verification Plans and Reports (MDVPR and DVPR), Validation Plans and Reports (MDVALPR and VALPR), etc.
		li Utilized OGP, laser cutter, and other available equipment
		li Developed Python tool kit for development testing of prototype MSD instruments with OpenCV image analysis capabilities
		li Participated in design reviews
		li Worked with suppliers to evaluate OEM products
		li Designed parts in SolidWorks to address critical issues
		li Closed an open Corrective And Preventative Action (CAPA). Completed root cause analysis including injection mold analysis; designed and prototyped solutions; then led verification and validation testing in collaboration with multiple departments within a 6 month time period
		li Conducted market research and presented visualization of results
		li Aided in legal analysis and in generating a freedom to operate (FTO) opinion
		li Spearheaded weekly dashboarding of critical plate and instrument manufacturing data using Python, R, and D3.js. Key deliverables are quantification of manufacturing downtime and identification of issue with first article cameras

	.row.cd.footer-nav
		a(href="MSD-SoftwareEngineer-2.html").footer-link.col-xs-12.col-sm-6
			h4.footer-back
				.fa.fa-arrow-left
				| &nbsp;&nbsp;MSD Software Engineer II
		a(href="microfluidics.html").footer-link.col-xs-12.col-sm-6
			h4.footer-next
				| UMD MEMs and Microfluidics Lab&nbsp;&nbsp;
				.fa.fa-arrow-right
