extends ../layout.pug

block title
	h1.cd.hidden-xs Meso Scale Diagnostics
	h1.cd.hidden-sm.hidden-md.hidden-lg MSD

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd As a Software Engineer II at MesoScale Diagnostics, I have demonstrated my technical knowledge and initiative on numerous projects.

	hr.hr-padded

	h4.cd Experience
	ul.cd
		li Technical lead for three ongoing and any future software projects for the Engineering department.
		li Created and maintained product and engineering road maps to foster coordination with other departments.
		li Led initiative to modernize internal processes with tooling for CI/CD, VCS, and private package index.
		li Designed a data ingestion and visualization framework in Python using pipeline and layered architectures and ported two legacy dashboards to the framework to demonstrate the improved performance and configurability.
		li Proposed architectural improvements and built proof of concept to decouple a monolithic codebase.
		li Hired a junior employee and fostered that employee’s growth by assigning projects and providing feedback.

	.row.cd.footer-nav
		.footer-link.col-xs-12.col-sm-6
			h4.footer-next &nbsp;
		a(href="MSD-SystemsEngineer-1.html").footer-link.col-xs-12.col-sm-6
			h4.footer-next
				| MSD Systems Engineer I&nbsp;&nbsp;
				.fa.fa-arrow-right
