extends ../layout.jade

block title
	h1.cd.hidden-xs Meso Scale Discovery
	h1.cd.hidden-sm.hidden-md.hidden-lg MSD

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd As a Systems Engineer I at MesoScale Discovery, I have worked on every part of an instrument's life cycle. From prototype systems under development to implementing improvements to instruments in the field.
