extends ../layout.pug

block title
	h1.cd.hidden-xs Meso Scale Discovery
	h1.cd.hidden-sm.hidden-md.hidden-lg MSD

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd As a Systems Engineer I at MesoScale Discovery, I have worked on every part of an instrument's life cycle. From prototype systems under development to implementing improvements to instruments in the field. I have become a jack-of-all-trades and have worked on everything from the conceptual design of instruments to prototyping hardware to creating software tools used by our engineers in the field.

	hr.hr-padded

	h4.cd Instrument Design and Development
	ul.cd
		li Developed Python toolkit to control custom MSD software, developer kits, and data logging
		li Designed parts in SolidWorks to address critical issues
		li Contributed to Product Requirements Documents (PRD), Systems Design Specifications (SyDS), Verification Plans and Reports (MDVPR and DVPR), Validation Plans and Reports (MDVALPR and VALPR), etc.
		li Wrote test plans for both software and hardware then conducted data analysis
		li Participated in design reviews
		li Worked with suppliers to evaluate OEM products
		li Utilized OGP, laser cutter, and other available equipment
		li Conducted market research and presented visualization of results
		li Aided in legal analysis and in generating a freedom to operate (FTO) opinion

	h4.cd Instruments in the Field
	ul.cd
		li Closed an open Corrective And Preventative Action (CAPA)
		li Developed a reactive image processing tool in Python and OpenCV
		li Completed OGP analysis and compared against injection mold design
		li Worked with Manufacturing, Service, Software, Firmware, Legal, and Marketing to release multiple changes to existing MSD products
		li For updates to a separate marketed instrument, released plans for performance, serviceability, and ISTA/shipping verification

	h4.cd Collaborations
	ul.cd
		li
			i Field service:
			| &nbsp;Developed python applet to assist Field Service Engineers when verifying the instrument configuration
		li
			i Field service:
			| &nbsp;developed an interactive Shiny application in R to parse field service tickets previously stored in Excel
		li
			i Consumables Manufacturing:
			| &nbsp;wrote python application that can calculate metrics based on data fetched from three internal sources. For visualization, wrote an R script to generate a weekly dashboard report.
