extends ../layout.jade

block title
	h1.cd.hidden-xs Meso Scale Discovery
	h1.cd.hidden-sm.hidden-md.hidden-lg MSD

block Slide_In_Panel_Content
	//- .summary.cd
	h4.cd Summary
	p.cd Since July 2016, I have been a full time employee at Meso Scale Discovery in the R&D group working on systems integration. I've been writing large amounts of Python automation scripts, designing experiments, and planning process or design changes. Working with a multidisciplinary team, I've gained great appreciation for the challenges of planning for production, process design, and many other topics. On top of all that, I even get to bike commute to work everyday.
