extends ../layout.jade

block title
	h1.cd.hidden-xs Raspberry Pi PhotoFrame
	h1.cd.hidden-sm.hidden-md.hidden-lg PhotoFrame

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd I wanted to build a photoframe for my girlfriend to easily update with photos as a Christmas gift. The project ended up taking far too long, but was fun to build and turned out fairly well.

	h4.cd.no-padding TBD
	p.cd I am in the process of creating a Github repository and uploading the code and guide.

	//- See the&nbsp;
	//- 	a(href="https://github.com/KyleKing/soundcloud_playlist_maker")
	//- 		| Github repository
	//- 	|  for up to date code and installation guide

	figure.figure
		img(src=path + "imgs/PhotoFrame/cover_fullsize.jpg").small-cd
		figcaption.figure-caption.text-left This is the PhotoFrame in use, while booting. A Raspberry Pi and TFT driver are hidden behind the modified frame
