extends ../layout.pug

block title
    h1.cd.hidden-xs QUEST
    h1.cd.hidden-sm.hidden-md.hidden-lg QUEST

block Slide_In_Panel_Content
    .summary.cd
        h4.cd Summary
        p.cd SUMMARY_TEXT_HERE
        a(href="https://www.rhsmith.umd.edu/programs/undergraduate-programs/academics/fellows-special-programs/quest").unstyled.poster-container
            button.poster
                i.fa.fa-file-pdf-o.fa-1x
                | &nbsp;Official QUEST Website

    //- hr.hr-padded

    //- h4.cd SectionTitLE
    //- p.cd SUMMARY_TEXT_HERE

    //- figure.figure
    //-     img(src=path + "imgs/PiAlarm/Overview.jpg").small-cd
    //-     figcaption.figure-caption.text-left CAPTION_TEXT
