extends ../layout.jade

block title
	h1.cd.hidden-xs SoundCloud Generator
	h1.cd.hidden-sm.hidden-md.hidden-lg SoundCloud

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd I was bored of the music I listened to, but I really liked the music I've reposted on SoundCloud. I built a simple Python CLI tool that looks for all of your songs based on set parameters, then spits out a custom playlist for you to listen to whenever.

	h4.cd.no-padding TBD
	p.cd See the&nbsp;
		a(href="https://github.com/KyleKing/soundcloud_playlist_maker")
			| Github repository
		|  for up to date code and installation guide

	//- figure.figure
	//- 	img(src=path + "imgs/Bikeshare/bikeshare-10.png").small-cd
	//- 	figcaption.figure-caption.text-left Smartlock components that are placed on each bike
