extends ../layout.pug

block title
	h1.cd.hidden-xs SoundCloud Generator
	h1.cd.hidden-sm.hidden-md.hidden-lg SoundCloud

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd I listen to SoundCloud all the time and wanted to shuffle and generate new playlists, but SoundCloud didn't offer those features natively. Using the SoundCloud API, I built a Python CLI tool to create and update playlists based on custom parameters
		a(href="https://github.com/KyleKing/soundcloud_playlist_maker").unstyled.poster-container
			button.poster
				i.fa.fa-chain.fa-1x
				| &nbsp;&nbsp;Github repository

	hr.hr-padded

	h4.cd How's it work?
	p.cd To allow you to work with reposted tracks (not part of the API), I had to create a separate account that only follows my main account. With this workaround, the second account's entire activity feed is filled with reposted songs by my main account, which I can fetch with the SoundCloud API. From the fetched songs, I can generate playlists for most commented, genre, tag, date released, etc.

	p.cd Users can clone the project, setup their profile information in a settings file, then quickly generate playlists to their own account. To see how to take advantage of the tool and generate your own playlists, visit the &nbsp;
		a(href="https://github.com/KyleKing/soundcloud_playlist_maker")
			| Github repository

	figure.figure
		img(src=path + "imgs/SoundCloud/terminal.png").small-cd
		figcaption.figure-caption.text-left Sample CLI Output

	.row.cd.footer-nav
		a(href="N1.html").footer-link.col-xs-12.col-sm-6
			h4.footer-back
				.fa.fa-arrow-left
				| &nbsp;&nbsp;MailSpring-Unsubscribe
		a(href="extensions.html").footer-link.col-xs-12.col-sm-6
			h4.footer-next
				| Other Open Source&nbsp;&nbsp;
				.fa.fa-arrow-right
