extends ../layout.jade

block title
	h1.cd.hidden-xs SoundCloud Generator
	h1.cd.hidden-sm.hidden-md.hidden-lg SoundCloud

block Slide_In_Panel_Content
	.summary.cd
		h4.cd Summary
		p.cd I listen to SoundCloud all the time and wanted to mix some variety into my playlists since SoundCloud didn't offer those features natively. Using the SoundCloud API, I built a Python CLI tool to create and update playlists based on custom parameters
		a(href="https://github.com/KyleKing/soundcloud_playlist_maker").unstyled.poster-container
			button.poster
				i.fa.fa-file-pdf-o.fa-1x
				|  Github repository

	h4.cd How's it work?
	p.cd See the&nbsp;
		a(href="https://github.com/KyleKing/soundcloud_playlist_maker")
			| Github repository
		|  for up to date code and installation guide

	//- figure.figure
	//- 	img(src=path + "imgs/Bikeshare/bikeshare-10.png").small-cd
	//- 	figcaption.figure-caption.text-left Smartlock components that are placed on each bike
