extends ../layout.pug

block title
    h1.cd.hidden-xs SustainaMetrix
    h1.cd.hidden-sm.hidden-md.hidden-lg SustainaMetrix

block Slide_In_Panel_Content
    .summary.cd
        h4.cd Summary
        p.cd SustainaMetrix is a startup environmental consulting company. They approach climate change and the toughest ecosystem management issues with the ecosystem governance framework. The consulting process begins by deeply understanding the context and history, then identifying key stakeholders and how they contribute to governance. With all of the stakeholders, they put together an adaptive ecosystem management plan including methods for benchmarking progress. As an intern, I played a key role in understanding the context and history and developed briefing reports for the CEO and staff ahead of consulting projects. Between 2011 - 2014, I worked my full time over two summer breaks and the winter break during my Freshman year of college.
        a(href="http://www.sustainametrix.com").unstyled.poster-container
            button.poster
                i.fa.fa-chain.fa-1x
                | &nbsp;&nbsp;SustainaMetrix Website

    hr.hr-padded

    h4.cd Projects
    p.cd During my first summer, I worked on analysis of the UCSD IGERT program. "IGERT is the National Science Foundation's flagship interdisciplinary training program, educating U.S. Ph.D. scientists and engineers by building on the foundations of their disciplinary knowledge with interdisciplinary training" (
        a(href="https://grad.ucsd.edu/financial/fellowships/nsf-igert.html") UCSD
        | ). The program uses the concept of a T digram to track the students as they develop depth into their focus study (vertical section of T) and breadth (horizontal section) into related fields. During regularly scheduled interviews, the students document their process and plan for future development. This framework focuses on creating a dynamic and balanced education program that best prepares students to take the biggest challenges.

    p.cd In partnership with NOAA, SustainMaterix was contracted to develop ecosystem management plans with five of the US territories, Florida, and Hawaii. Over my second summer and winter, I researched the Coastal Zone Management (CZM) programs in Puerto Rico, CNMI, and Guam, then developed extensive background reports for each jurisdiction. With the information I collected, I created timelines detailing the history of major CZM-related events, identified and created briefings of each major stakeholder, generated presentations for several events, and assisted with the website. The final versions of the documents we produced for the NOAA project are available on their website: &nbsp;
        a(href="https://www.coris.noaa.gov/activities/capacity_assessment/") coris.noaa.gov/activities/capacity_assessment/
        | . I am listed as a co-author on the final reports for CNMI and Guam. I additionally started the timelines and fact sheets for American Samoa, Puerto Rico, CNMI, and Guam and contributed to the other projects in varying capacities.

    figure.figure
        img(src=path + "imgs/SustainaMetrix/Reports.png").small-cd
        figcaption.figure-caption.text-left The&nbsp;
            a(href="https://www.coris.noaa.gov/activities/capacity_assessment/Guamreport.pdf") Guam
            | &nbsp;and&nbsp;
            a(href="https://www.coris.noaa.gov/activities/capacity_assessment/finalcnmicapacityassessment.pdf") CNMI Reports
            | &nbsp;are available online.

    figure.figure
        img(src=path + "imgs/SustainaMetrix/AmSam_Abbreviated_Timeline.jpeg").small-cd
        figcaption.figure-caption.text-left This is a preview of the American Samoa timeline, scroll through the&nbsp;
            a(href="https://www.coris.noaa.gov/activities/capacity_assessment/amsamfinaltimeline.pdf") full timeline PDF file on the NOAA website

    h4.cd Ecosystem Governance
    p.cd The SustainaMetrix model for ecosystem governance can be very powerful. To learn more about the model, visit the:
    ul.cd
        li
            a(href="SustainaMetrix_Methodology_Cheat_Sheet.html") HTML version of the SustainaMetrix terminology cheatsheet
        li or the full&nbsp;
            a(href="http://www.sustainametrix.com/anthropocene/") SustainaMetrix blog
