body
  // background-color: rgb(38, 102, 135)
  background-color #1F618D
  font: 400 1em/1.38 Helvetica
  color: dark

.callout-box
  position: relative
  float: left
  clear: both
  z-index: 3
  width: 52.8010416666%
  margin: -120px 0 0 23.6%
  padding-top: 50px
  padding-bottom: 50px
  background-color: rgba(255, 255, 255, 0.95)

.header-image
  position: relative
  float: left
  z-index: 0
  width: 100%
  height: 429px
  background: url("../imgs/microfluidics-1.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 30%


@media (max-width: 1000px)
  .callout-box
    position: relative
    z-index: 3
    margin-left: 23.59844%

  .header-image
    position: relative
    z-index: 0
    height: 427px