#Container.cntr
  h1 Get in Touch
  .FacebookIMG
    a(href="#")
      img(src="src/public/contact/Facebook.png")
      p Facebook
  .GithubIMG
    a(href="#")
      img(src="src/public/contact/Github.png")
      p Github
  .LinkedInIMG
    a(href="#")
      img(src="src/public/contact/LinkedIn.png")
      p LinkedIn