//- #contact_container
//-   h1 Get in Touch - model after hero element #TODO
//-   .FacebookIMG
//-     a(href="#")
//-       img(src="src/public/contact/Facebook.png")
//-       p Facebook
//-   .GithubIMG
//-     a(href="#")
//-       img(src="src/public/contact/Github.png")
//-       p Github
//-   .LinkedInIMG
//-     a(href="#")
//-       img(src="src/public/contact/LinkedIn.png")
//-       p LinkedIn