extends layout-blocks/layout
block homePage
  //- Hero Image
  include refills_examples/hero_unit
  #Container
    ul.navItems
      li
        a(href="src/public/2014_10 Resume.pdf") Resume
      li
        a(href="https://github.com/KyleKing")
          img(src="http://digitalservices.directory/logo/337-256.png")
      li
        a(href="https://www.linkedin.com/pub/kyle-king/57/4/8b7")
          img(src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/linkedin-4096-black.png")
  //- Example
  .gray
    #Container
      include refills_examples/iconbulletpoints
  //- Example
  #Container
    include refills_examples/browser
  .gray
    #Container
      img(src="src/public/skills.png")
