extends layout-blocks/layout
block homePage
  //- Example
  include refills_examples/hero_unit
  h1 &nbsp;
  ul.linkItems
    li.left
      a(href="src/public/2014_10 Resume.pdf") Resume
    li.left
      a(href="https://github.com/KyleKing") github
    li.left
      a(href="https://www.linkedin.com/pub/kyle-king/57/4/8b7") LinkedIn
  h1 &nbsp;
  //- Example
  include refills_examples/iconbulletpoints
  h1 &nbsp;
  //- Example
  include refills_examples/browser
