extends layout-blocks/layout
block homePage
   //- Header Elements
   a(data-scroll href='#contact')#Logo Contact
      h3 Kyle King
   a(data-scroll href='/')
      h3#bioe.tall_block.equal Bioengineer
   a(data-scroll href='/')
      h3#dvlp.tall_block.equal Developer
   a(data-scroll href='/')
      h3#lead.tall_block.equal Leader
   .content
      .chunk.prime-alt
         .timeline
            h6 &nbsp;
         .con
            h2 Thanks for visiting
            h6 &nbsp;
            h6 I deeply care about building technology that makes people happier and healthier
            h6 &nbsp;
            p To pursue my passion, I am currently looking to design and prototype medical devices as a entry level engineer at your company. I have a background in designing mechanical components, rapid prototyping, computer science, and tackling challenging technical projects.
               a(data-scroll href='#contact')
                  |   Put me to work.
            .con_break.equal
            .con_break.equal
            .con_break.equal
      .chunk.prime-bioe
         .timeline
            h6 Aug 2012 - May 2016
         .con
            h2 Bachelor of Science, Bioengineering
            h5 University of Maryland, College Park
            h5 GPA: 3.81 / 4.00
            h5 &nbsp;
            h6 BIOE371: Bioengineering Math and Statistics
            p A MATLAB-heavy course, we were challenged to design and solve problems using differential equations, linear algebra and statistics to model feedback systems in biology.
            h6 BIOE489D: Biological Datamining
            p I chose this elective to learn more about the implications of genomic information to medical device and drug development. The class further developed my skill set using the string analysis toolbox of MATLAB.
            //- h6 EDCP318T: Applied Contextual Leadership; Venture Leadership
            //- p This class challenged me to better understand myself in order to lead others. We worked as a class through three outdoor expeditions to build stronger communication, peer awareness, and leadership skills in order to prepare for employment as a Adventure Program Trip Leader.
            h6 BIOE241: Biocomputational Methods
            p This class was my first introduction to the application of computer technology to solve problems. I became proficient in MATLAB and C along with building a better understanding of positional numerical systems.
            .con_bioe.equal
            .con_dvlp.equal
            .con_lead.equal

      .chunk.prime-dvlp
         .timeline
            h6 Aug 2012 - May 2016
         .con
            h2 Full Stack Developer and Team Liaison
            h5 Gemstone Honors College: Team BIKES
            a(href='http://kyleking.me/bikeshare') See More
            h6 &nbsp;
            ul
               li Led team meetings to iterate over design revisions, account for user factors, and integrate electronic systems
               li Collaborated with electrical engineering team to develop a distributed bike system using IoT technology
               li Integrated contact sensors; microcontroller; Xbee and RFID modules; and a battery into prototype smartlock
               li Self taught the Meteor framework to rapidly prototype an interactive web application:
                  a(href='https://redbarbikes.com') https://redbarbikes.com
            h6 &nbsp;
            .con_dvlp.equal
            .con_dvlp.equal
            .con_lead.equal

      .chunk.prime-bioe
         .timeline
            h6 Jan 2014 - May 2016
         .con
            h2 Undergraduate Research Fellow
            h5 Maryland MEMS and Microfluidics Laboratory
            a(href='http://kyleking.me/microfluidics') See More
            h6 &nbsp;
            ul
               li Selected to present an oral presentation at the UMD and Johns Hopkins University research competition
               li Pioneered optical technique to improve microfluidic immunoassays for antibody-based diagnostic applications
               li Created a PID controller using Node.js and Python on Raspberry Pi for a microfluidic droplet generator
               li Created a PID controller using integrated sensors and built high current electrical control system
               li Developed dynamic MATLAB script for image analysis including shape detection and colorimetric analysis
            h6 &nbsp;
            .con_bioe.equal
            .con_bioe.equal
            .con_dvlp.equal

      .chunk.prime-bioe
         .timeline
            h6 Jun 2015 - Aug 2015
         .con
            h2 Research and Development Intern
            h5 Canon US Life Sciences
            h6 &nbsp;
            ul
               li Delivered functional prototypes to realize a theoretical concept of simple sample cleanup and fluidic handling
               li Delivered automated and functional prototypes based on theoretical concept for simple fluidic handling
               li Applied knowledge of robotics to develop precise system controls and conduct image analysis in MATLAB
               li Utilized a machine shop, CNC, laser cutter, 3D printer, and SolidWorks to rapidly develop 2D and 3D prototypes
               li Discovered an additional patentable technique to extend device capabilities and presented results to company
            h6 &nbsp;
            .con_bioe.equal
            .con_bioe.equal
            .con_dvlp.equal

      .chunk.prime-lead
         .timeline
            h6 Jan 2013 - Dec 2015
         .con
            h2 Trip Leader and Instructional Bike Mechanic
            h5 Adventure Program
            p Directed 8 trips to varying environments with strong regards for participant safety, group development, and experiential learning with participants between ages of 18 to 65
            .con_lead.equal
            .con_lead.equal
            .con_lead.equal

      .chunk.prime-dvlp
         .timeline
            h6 Jan 2013 - Dec 2014
         .con
            h2 QUEST Honors Program: Student
            ul
               li Selected to present a prototype doctor-patient communication Meteor application at the QUEST Fall Showcase
               li Applied design thinking to create a USB laptop security device and industrial food inventory application
               li Made recommendations to streamline customer experience at the Academic Computers for Terps technology store
            h6 &nbsp;
            .con_bioe.equal
            .con_dvlp.equal
            .con_lead.equal

      .chunk.prime-dvlp
         .timeline
            h6 Dec 2013 - Aug 2014
         .con
            h2 Lead Mechanic
            h5 4K for Cancer
            ul
               li 3D printed custom electronics enclosure for a GPS tracker and self-taught web technology for personal website
               li Fundraised $5,450 for the Ulman Cancer Fund to provide support for young adults with cancer
            h6 &nbsp;
            .con_dvlp.equal
            .con_dvlp.equal
            .con_lead.equal

      //- .chunk.prime-lead
      //-    .timeline
      //-       h6 Nov 2013 - Sep 2014
      //-    .con
      //-       h2 Founder
      //-       h6 &nbsp;
      //-       h5 Medical Device Design Team
      //-       p Recruited 12+ multidisciplinary students to design a low-cost surgical lamp
      //-       .con_bioe.equal
      //-       .con_lead.equal
      //-       .con_lead.equal

      .chunk.prime-alt
         .timeline
            h6 Jun 2011 - Jan 2014
         .con
            h2 Ecosystem Governance Analyst
            h5 SustainaMetrix
            ul
               li Compiled research into 3 due-diligence briefings and visual timelines to inform consulting process
               li Coauthored 2 publications optimizing Coastal Zone Management with NOAA
            h6 &nbsp;
            .con_break.equal
            .con_break.equal
            .con_break.equal

      .chunk.prime-bioe
         .timeline
            h6 Jun 2013 - Aug 2013
         .con
            h2 Undergraduate Researcher
            h5 DasSarma Lab, University of Maryland School of Medicine
            p Mutated 6 different plasmids using synthetic DNA and associated Halobacterium cultures for protein synthesis
            .con_bioe.equal
            .con_bioe.equal
            .con_dvlp.equal

      .chunk.prime-lead
         .timeline
            h6 Dec 2010
         .con
            h2 Eagle Scout Award
            h5 Troop 792
            p Awarded for orchestrating a 100+ man-hour volunteer project for the Maryland Zoo in Baltimore, along with 2 years as Patrol leader, and service from 2006-2012
            h6 &nbsp;
            .con_lead.equal
            .con_lead.equal
            .con_lead.equal

      .chunk.prime-alt
         .timeline
            h6 Sep 2010
         .con
            h2 Junior Keeper of the Year
            h5 Maryland Zoo in Baltimore
            p Contributed 630 volunteer hours as a Volunteer Junior Keeper
            .con_break.equal
            .con_break.equal
            .con_break.equal

   .color_fill.bioe
      .container
         .full
            h1#contact.cntr Contact Me
            h2.equals.cntr
               a(href='http://kyleking.me') My Interactive Website
               a(href='mailto:kyleking.me.contact@gmail.com?subject=Website Contact&body=Kyle, ') Email
               a(href='https://www.linkedin.com/pub/kyle-king/57/4/8b7') LinkedIn
               a(href='https://github.com/KyleKing?tab=repositories') Github
