extends layout-blocks/layout
block homePage

  //- Hero Image
  //- #Container
  include refills_examples/hero_unit

  //- .leadSection
  //-   h1 What do I do as a Bioengineer?
  //-   img(src="src/public/whiteboardFiller.png")

  .gray.spacingTop
    #Container
      h1  Construct Systems, Develop Diagnostics, and Build Quality
      //- Three current resume bullets
      include refills_examples/iconbulletpoints

  #Container.spacingTop.spacingBottom
    h1 Design UX and Code for Fun
    //- Project images in browser view
    include refills_examples/browser

  //- Only visible on large screen and up
  .gray.spacingTop.skillVenn
    #Container
      //- Venn Diagram of Learning
      img(src="src/public/skills.png")

  //- Only visible on small - medium screens
  .gray
    .spacingTop.skillWords
      #Container
        ul.skillItems
          //- MeteorJS
          li
            a(href="https://www.meteor.com")
              img(src="src/public/meteor.png")
          //- HTML5
          li
            a(href="http://www.html5rocks.com/en/")
              img(src="http://kawandesign.com/wp-content/uploads/2014/09/html5.png")
          //- CSS3
          li
            a(href="http://beta.theexpressiveweb.com")
              img(src="http://kawandesign.com/wp-content/uploads/2014/09/css3.png")
          //- JS
          li
            a(href="http://jstherightway.org")
              img(src="http://kawandesign.com/wp-content/uploads/2014/09/js.png")
          //- Jquery
          li
            a(href="http://jquery.com")
              img(src="http://kawandesign.com/wp-content/uploads/2014/09/jqueryui-256-black.png")

          //- Matlab
          li
            a(href="http://weknowmemes.com/generator/uploads/generated/g1361506840939929731.jpg")
              img(src="http://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png")

  //- Outside Links
  #Container.spacingTop.spacingBottom
    h1 And sometimes even humorous
    p (none of it written of course - check back in a month!)
    ul.articleLinks
      li.one
        a(href="") What if I told you that you would be a ~Subject~ System Matter Expert? What they don't tell you as a Bioengineer  -- October 20, 2014
      li.two
        a(href="") The Graphical Explanation of Public Speaking that You Are Missing  -- October 15, 2014
      li.three
        a(href="") The Graphical Explanation of Public Speaking that You Are Missing -- October 15, 2014

  //- Quick Links
  .gray.spacingTop
    #Container.spacingBottom
      h1 What are you waiting for? Get to know me:
        a(href="https://github.com/KyleKing")
            img(src="http://digitalservices.directory/logo/337-256.png").small
        a(href="https://www.linkedin.com/pub/kyle-king/57/4/8b7")
            img(src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/linkedin-4096-black.png").small
        a(href="src/public/2014_10 Resume.pdf")
          img(src="src/public/resume.png").small

    //- I'm currently working on Matlab, Meteor and more, contact me:
  .spacingTop
    #Container.spacingBottom
      .half
        h1 I'm Currently Working on...
        ul
          li Bringing wearable technology to the people who need it but can't afford it
          li Making Matlab more fun and easier for all students
          li Building a Gulp boilerplate to make resume sites like these easier
          li A better directory for UMD to make the slog of sites easier to navigate
          li Realtime web apps in MeteorJS and hosting an event at College Park to celebrate their "Big News"
      .half
        img(src="src/public/whiteboard.jpg")
