extends layout-blocks/layout
block homePage
   #Logo
      h1 Kyle King
   .nav
      .bioe
         h3 Bioengineer
      .lead
         h3 Leader
      .dvlp
         h3 Developer
   #content
      .timeline
         h1 Event 1
      .content
         .con_bioe
         .con_lead
         .con_dvlp