extends layout-blocks/layout
block homePage
	#particles-js
	#fixedHero
		#Container
			header
				h1.name Kyle King
				h3.pitch
					| Junior at University of Maryland excelling in 
					a(href="/").strong Bioengineering
					|, researching 
					a(href="/").strong microfluidcs
					|, building 
					a(href="/").strong web applications
					|, practicing 
					a(href="/").strong product development
					|, and available for a summer internship
				button.CTA Put me to work
			section.social
				a(href="/").facebook
					//- img(src="http://www.mdbc.org.my/images/FB.png")
					img(src="http://www.octadia.com/sites/default/files/imagepicker/1/ars-grafik-facebook-icon.png")
				a(href="/").github
					//- img(src="src/public/icons/github-6-512.png")
					img(src="http://png-2.findicons.com/files/icons/2779/simple_icons/4096/github_4096_black.png")
					//- img(src="src/public/icons/github-6-512.jpg")
				a(href="/").linkedin
					//- img(src="http://www.iconsdb.com/icons/preview/white/linkedin-4-xxl.png")
					img(src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/linkedin-2048-black.png")