#description-sections
  .descriptor
    h1 Experience
    p Working in small to big companies
  ul.cards
    li
      h2 Sustainametrix
      p Conducted Due-Diligience Research
    li
      h2 UMD
      p Conducted Due-Diligience Research
    li
      h2 Set 3
      p Conducted Due-Diligience Research