#Container
  section#projectPics.projectPics.clearfix
    h1.cntr Physical
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/1.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Crystalline
          p Soko radicchio bunya nuts gram dulse.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/3.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Cacophony
          p Two greens tigernut soybean radish.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/5.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Languid
          p Beetroot water spinach okra water.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/7.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Serene
          p Water spinach arugula pea tatsoi.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/2.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Nebulous
          p Pea horseradish azuki bean lettuce.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/4.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Iridescent
          p A grape silver beet watercress potato.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/6.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Resonant
          p Chickweed okra pea winter purslane.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/8.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Zenith
          p Salsify taro catsear garlic gram.
          button View


#Container
  section#projectPics.projectPics.clearfix
    h1.cntr Virtual
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/1.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Crystalline
          p Soko radicchio bunya nuts gram dulse.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/3.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Cacophony
          p Two greens tigernut soybean radish.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/5.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Languid
          p Beetroot water spinach okra water.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/7.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Serene
          p Water spinach arugula pea tatsoi.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/2.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Nebulous
          p Pea horseradish azuki bean lettuce.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/4.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Iridescent
          p A grape silver beet watercress potato.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/6.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Resonant
          p Chickweed okra pea winter purslane.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/8.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Zenith
          p Salsify taro catsear garlic gram.
          button View


#Container
  section#projectPics.projectPics.clearfix
    h1.cntr Writings
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/1.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Crystalline
          p Soko radicchio bunya nuts gram dulse.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/3.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Cacophony
          p Two greens tigernut soybean radish.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/5.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Languid
          p Beetroot water spinach okra water.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/7.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Serene
          p Water spinach arugula pea tatsoi.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/2.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Nebulous
          p Pea horseradish azuki bean lettuce.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/4.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Iridescent
          p A grape silver beet watercress potato.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/6.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Resonant
          p Chickweed okra pea winter purslane.
          button View
    a(href='#', data-path-hover='m 180,34.57627 -180,0 L 0,0 180,0 z')
      figure
        img(src='src/public/projects/8.png')
        svg(viewBox='0 0 180 320', preserveAspectRatio='none')
          path(d='M 180,160 0,218 0,0 180,0 z')
        figcaption
          h2 Zenith
          p Salsify taro catsear garlic gram.
          button View

script.
  (function() {

    function init() {
      var speed = 250,
        easing = mina.easeinout;

      console.log('yay');
      [].slice.call ( document.querySelectorAll( '#projectPics > a' ) ).forEach( function( el ) {
        var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
          pathConfig = {
            from : path.attr( 'd' ),
            to : el.getAttribute( 'data-path-hover' )
          };
        el.addEventListener( 'mouseenter', function() {
          path.animate( { 'path' : pathConfig.to }, speed, easing );
        } );
        el.addEventListener( 'mouseleave', function() {
          path.animate( { 'path' : pathConfig.from }, speed, easing );
        } );
      } );
    }
    init();
  })();