section#mast
  #mast_inner-1
    #mast_inner-2
      .overlay
      video(autoplay='', loop='', preload='auto', poster='src/public/images/timelapse.jpg')
        source(src='src/public/images/timelapse.webm', type='video/webm')
        source(src='src/public/images/timelapse.mp4', type='video/mp4')
        source(src='src/public/images/timelapse.ogv', type='video/ogv')
        img(src='src/public/images/timelapse.jpg')
  .video-txt
    .container
      h1 Build Something Great.
      section.row.callout.hidden-xs
        .col-xs-12.col-md-8.col-md-offset-2
          p
            | Startup Shell is a student-run nonprofit incubator that fosters entrepreneurship through collaboration at the University of Maryland.
          a(href='#about')
            button.btn.btn-primary(href='#', role='button') Learn more