head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="{{ site.description }}")
    <!-- Need to add post excerpt to meta description tag -->
    <!-- <meta="description" content={{ post.excerpt }}> -->
    link(rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}")

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}")/>

    <!-- JavaScript/JQUERY -->
    <!-- <script language="javascript" type="text/javascript" src="JS/jquery-1.11.1.min.js"></script> -->
    script(language="javascript" type="text/javascript" src="JS/main.js")