.header_container
  button(type="button").js-menu-trigger.sliding-menu-button
    img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu.png" alt="")

nav.js-menu.sliding-menu-content
  ul
    li
      a(href="javascript:void(0)") Item 1
      a(href="javascript:void(0)") Item 2
      a(href="javascript:void(0)") Item 3

.js-menu-screen.menu-screen

<div id="content_container">