#contact_container {
  margin-top: em(250);
  margin-bottom: em(250);
  @include outer-container;
  p {
      font-weight: bold;
      padding: em(10);
      text-align: center;
  }
  img {
    max-height: em(300);
    max-width: em(500);
    overflow: auto;
    margin: em(10);
  }
  .FacebookIMG {
    @include span-columns(4);
    p {
      background-color: #3498db;
      color: #ecf0f1;
    }
  }
  .GithubIMG {
    @include span-columns(4);
    p {
      background-color: #bdc3c7;
      color: #2c3e50;
    }
  }
  .LinkedInIMG {
    @include span-columns(4);
    p {
      background-color: #2980b9;
      color: #ecf0f1;
    }
  }
}