.hero {
  $hero-image: '/src/public/kyleboat.jpg';

  @include background(url($hero-image));

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 40em;
}

.hero-inner {
  // @include outer-container;
  @include clearfix;
  padding: 3em;
  margin: auto;
  text-align: center;
  color: tint(black, 30%);
  background-color: rgb(248, 254, 250);

  .hero-copy {
    text-align: center;
    h1 {
      font-size: 1.6em;
      margin-bottom: .5em;

      @include media($large-screen) {
        font-size: 1.8em;
      }
    }

    p {
      font-family: $serif;
      margin: auto;
      margin-bottom: 3em;
      font-weight: 200;
      line-height: 1.4em;

      @include media($large-screen) {
        font-size: 1.1em;
        max-width: 40%;
      }
    }
  }
}

.big {
  font-size: 4em !important;
}