.hero {
  // $hero-background-top: #7F99BE;
  // $hero-background-bottom: #20392B;
  $hero-color: #34495e;
  // $gradient-angle: 10deg;
  $hero-image: '/src/public/color1.png';

  // @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  @include background(url($hero-image));

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @include media($mobile) {
    min-height: em(300);
  }

  @include media($desktop) {
    height: em(100);
  }
  padding-bottom: 4em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    // padding-top: 7em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    @include media($desktop) {
      // padding-top: 10em;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: em(40);
        margin-bottom: .5em;

        @include media($desktop) {
          font-size: em(100);
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($desktop) {
          font-size: em(25);
          max-width: 40%;
        }
      }
    }
  }
}