html, body {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.linkItems {
  list-style-type: none;
  li {
    font-size: 1.5em;
    a {
      display: inline-block; // Keep it all inline, get it?
      cursor: pointer;
      // Space everything out
      position: relative;
      padding: 15px;
      &:hover {
        // action?
      }
      &.left {
        margin-left: 10px;
        float: left; }
    }
  }
}
