//
//
// Add cut off points for variations between dekstop and mobile
// Hides venn diagram and displays icons
//
//

@include media($large-screen-down) {
    .skillVenn { display: none; }
    .skillWords { display: block; }
}

@include media($large-screen-up) {
    .skillVenn { display: block; }
    .skillWords { display: none; }
}

//
//
// Tools for general repeated patterns
//
//

.hide {
  display: none;
}

.gray {
  width: 100%;
  padding: 30px;
  // border-radius: 15px;
  background-color: tint(black, 95%);
}

.spacingTop { margin-top: 40px; }
.spacingBottom {
  margin: 40px;
  padding: 40px;
}

#Container {
  max-width: 900px;
  @include outer-container;
}

.cntr {  text-align: center; }

.half { @include span-columns(6); }

//
//
// List the links to my resume, CV, etc.
// Need to be better centered...
//

.small {
  display: inline-block; // Keep it all inline, get it?
  margin-right: 10px;
  float: right;
  height: 1.5em;
  width: auto;
}

// // Went with simpler approach
// .quickLinks {
//   @include span-columns(4);
//   // @include shift(4);
//   list-style-type: none;
//   padding: 30px;
//   li {
//     font-size: 1.5em;
//     a {
//       display: inline-block; // Keep it all inline, get it?
//       cursor: pointer;
//       // Mess with Text
//       font-weight: bold;
//       color: tint(black, 30%);
//       text-decoration: none;
//       margin-right: 10px;
//       float: left;
//     }
//     img {
//       display: inline-block; // Keep it all inline, get it?
//       cursor: pointer;
//       // Mess with Text
//       // font-weight: bold;
//       // color: tint(black, 30%);
//       // text-decoration: none;
//       margin-right: 10px;
//       float: left;
//       height: 1.5em;
//       width: 1.5em;
//     }
//   }
// }

//
//
// For mobile, lists the coding I can do with images with a small hover affect and links
//
//


.skillItems {
  list-style-type: none;
  padding: 30px;
  li {
    font-size: 1.5em;
    a {
      display: inline-block;
      cursor: pointer;
      // Mess with Text
      font-weight: bold;
      color: tint(black, 30%);
      text-decoration: none;
      margin-right: 10px;
      float: left;
    }
    img {
      display: inline-block;
      cursor: pointer;
      // Mess with Text
      font-weight: bold;
      color: tint(black, 30%);
      text-decoration: none;
      margin-right: 10px;
      float: left;
      height: 2.5em;
      width: 2.5em;
      margin-top: 20px;
      &:hover {
        margin-top: 10px;
        height: 3.5em;
      }
    }
  }
}

//
//
// Creates horizontal lines for links to my writing
//
//

$base-link-background: rgb(71, 202, 169);
// http://www.colorhexa.com

.articleLinks {
  border-radius: 4px;
  li {
    padding: 20px;
  }
  li.one {
    background: tint($base-link-background, 10%);
  }
  li.two {
    background: tint($base-link-background, 30%);
  }
  li.three {
    background: tint($base-link-background, 50%);
  }
}