html, body {
    // max-width: 900px;
    // margin-right: auto;
    // margin-left: auto;
}

@include media($large-screen-down) {
    .skillVenn {
        display: none;
    }
    .skillWords {
        display: block;
        background-color: purple;
    }
}

@include media($large-screen-up) {
    .skillVenn {
        display: block;
    }
    .skillWords {
        display: none;
    }
}

.spacingTop { margin-top: 40px; }
.spacingBottom {
  margin: 40px;
  padding: 40px;
}

.gray {
  width: 100%;
  padding: 30px;
  // border-radius: 15px;
  background-color: tint(black, 95%);
}

#Container {
  max-width: 900px;
  @include outer-container;
}

.cntr {
  text-align: center;
}


.navItems {
  @include span-columns(4);
  @include shift(4);
  list-style-type: none;
  padding: 30px;
  li {
    font-size: 1.5em;
    a {
      display: inline-block; // Keep it all inline, get it?
      cursor: pointer;
      // Mess with Text
      font-weight: bold;
      color: tint(black, 30%);
      text-decoration: none;
      margin-right: 10px;
      float: left;
    }
    img {
      display: inline-block; // Keep it all inline, get it?
      cursor: pointer;
      // Mess with Text
      font-weight: bold;
      color: tint(black, 30%);
      text-decoration: none;
      margin-right: 10px;
      float: left;
      height: 1.5em;
      width: 1.5em;
    }
  }
}


.skillItems {
  // @include span-columns(4);
  // @include shift(4);
  list-style-type: none;
  padding: 30px;
  li {
    font-size: 1.5em;
    a {
      display: inline-block; // Keep it all inline, get it?
      cursor: pointer;
      // Mess with Text
      font-weight: bold;
      color: tint(black, 30%);
      text-decoration: none;
      margin-right: 10px;
      float: left;
    }
    img {
      display: inline-block; // Keep it all inline, get it?
      cursor: pointer;
      // Mess with Text
      font-weight: bold;
      color: tint(black, 30%);
      text-decoration: none;
      margin-right: 10px;
      float: left;
      height: 2.5em;
      width: 2.5em;
      margin-top: 20px;
      &:hover {
        margin-top: 10px;
        height: 3.5em;
      }
    }
  }
}