doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title timelapse
  body
    //- Start EasyHtml5Video.com BODY section
    style(type='text/css')
      .easyhtml5video span{display:none}
    .easyhtml5video(style='position: relative; max-width: 1920px;')
      video(controls='controls', autoplay='autoplay', poster='index.files/html5video/IMG_1695.jpg', style='width: 100%;', title='1920')
        source(src='index.files/html5video/IMG_1695.m4v', type='video/mp4')
        source(src='index.files/html5video/IMG_1695.webm', type='video/webm')
        source(src='index.files/html5video/IMG_1695.ogv', type='video/ogg')
        source(src='index.files/html5video/IMG_1695.mp4')
        object(type='application/x-shockwave-flash', data='index.files/html5video/flashfox.swf', width='1920', height='1080', style='position: relative;')
          param(name='movie', value='index.files/html5video/flashfox.swf')
          param(name='allowFullScreen', value='true')
          param(name='flashVars', value='autoplay=true&controls=true&fullScreenEnabled=true&posterOnEnd=true&loop=false&poster=index.files/html5video/IMG_1695.jpg&src=IMG_1695.m4v')
          embed(src='index.files/html5video/flashfox.swf', width='1920', height='1080', style='position: relative;', flashvars='autoplay=true&controls=true&fullScreenEnabled=true&posterOnEnd=true&loop=false&poster=index.files/html5video/IMG_1695.jpg&src=IMG_1695.m4v', allowfullscreen='true', wmode='transparent', type='application/x-shockwave-flash', pluginspage='http://www.adobe.com/go/getflashplayer_en')
          img(alt='timelapse', src='index.files/html5video/IMG_1695.jpg', style='position: absolute; left: 0;', width='100%', title='Video playback is not supported by your browser')
      span
        a(href='http://easyhtml5video.com') mp4 to webm
        | by EasyHtml5Video.com v2.8
    script(src='index.files/html5video/html5ext.js', type='text/javascript')
    //- End EasyHtml5Video.com BODY section
