extends ./head.pug

block body
	body.body.page-index.clearfix
		.header-image

		.container.container-summary
			.row
				.col-lg-12
					h1 Kyle King
					p.extra-pad-top I am a&nbsp;
						a(href="pages/MSD.html").stylized Systems Engineer at Meso Scale Discovery
						| &nbsp;where I apply my broad skill set as a bioengineer, maker, and developer.
					p.extra-pad-top Previously an&nbsp;
						a(href="pages/microfluidics.html").stylized Undergraduate Research Fellow at the Maryland MEMS and Microfluidics Lab
						| , a&nbsp;
						a(href="pages/Canon.html").stylized Research and Development Intern at Canon US Life Sciences
						| , and a&nbsp;
						a(href="pages/bikeshare.html").stylized Full Stack Developer and Team Liaison for Team B.I.K.E.S.
					p.extra-pad-top Feel free to&nbsp;
						a(href="mailto:dev.act.kyle@gmail.com").stylized send me an email
						| , connect on&nbsp;
						a(href="https://www.linkedin.com/in/kylemorganking").stylized Linkedin
						| , follow me on&nbsp;
						a(href="https://github.com/KyleKing").stylized Github
						| , or view my&nbsp;
						a(href="public/pdf/King_Resume.pdf" target="_blank").stylized resume
						| .

		.container.container-summary
			.row
				.col-lg-12
					h1.container-header Work

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#MSD
					.row.project-MSD-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Meso Scale Discovery
								p.button Systems Engineer I (2016 - Present)
								button(href="pages/MSD.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#microfluidics
					.row.project-microfluidics-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 UMD MEMs and Microfluidics Lab
								p.button Undergraduate Research Fellow (2013 - 2016)
								button(href="pages/microfluidics.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#Canon
					.row.project-Canon-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Canon US Life Sciences
								p.button Research and Development Intern (2015)
								button(href="pages/Canon.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#sustainametrix
					.row.project-sustainametrix-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 SustainaMetrix
								p.button Student Fellow (2011 - 2014)
								button(href="pages/sustainametrix.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#dassarma
					.row.project-dassarma-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 DasSarma Laboratory
								p.button Student Researcher (2013)
								button(href="pages/dassarma.html") Read More

		.container.container-summary
			.row
				.col-lg-12
					h1.container-header Projects

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#PiAlarm
					.row.project-PiAlarm-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 PiAlarm
								p.button Raspberry Pi Alarm Clock (~2017)
								button(href="pages/PiAlarm.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#bikeshare
					.row.project-bikeshare-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Gemstone Team B.I.K.E.S.
								p.button Stationless Bikeshare Team Research Project (2012-2016)
								button(href="pages/bikeshare.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#CAPSTONE
					.row.project-CAPSTONE-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Senior Capstone
								p.button Pediatric MRI Distraction Device (2015-2016)
								button(href="pages/CAPSTONE.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#PhotoFrame
					.row.project-PhotoFrame-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 PiSlideshow
								p.button Raspberry Pi PhotoFrame (2016)
								button(href="pages/PhotoFrame.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#3DPrints
					.row.project-3DPrints-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 3D Printing
								p.button Rapid prototyping side-projects
								button(href="pages/3DPrints.html") Read More

		.container.container-summary
			.row
				.col-lg-12
					h1.container-header Volunteering

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#4K
					.row.project-4K-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 4K for Cancer
								p.button Team Mechanic (2013-2014)
								button(href="pages/4K.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#zoo
					.row.project-zoo-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Maryland Zoo in Baltimore
								p.button Junior Keeper (2008 - 2011)
								button(href="pages/zoo.html") Read More

		.container.container-summary
			.row
				.col-lg-12
					h1.container-header Highlighted Course Work

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#quest
					.row.project-quest-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 QUEST Honors Program
								p.button (2013-2014)
								button(href="pages/quest.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#bioe340
					.row.project-bioe340-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 BIOE340
								p.button Modeling Physiological Systems
								button(href="pages/bioe340.html") Read More

		.container.container-summary
			.row
				.col-lg-12
					h1.container-header Code

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#N1
					.row.project-N1-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 MailSpring-Unsubscribe
								p.button Unsubscribe Extension
								button(href="pages/N1.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#SoundCloud
					.row.project-SoundCloud-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 SoundCloud Generator
								p.button Generate custom SoundCloud Playlists (2017)
								button(href="pages/SoundCloud.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#extensions
					.row.project-extensions-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Other Open Source
								p.button Meteor Packages & Chrome Extensions
								button(href="pages/extensions.html") Read More

		.container
			.row.section-spacing

		block layout
