extends ./head.jade

block body
	body.body.page-index.clearfix
		.header-image

		.container.container-summary
			.row
				.col-lg-12
					h1 Kyle King
					p.extra-pad-top I am a&nbsp;
						a(href="pages/MSD.html").stylized Systems Engineer
						| &nbsp;at Meso Scale Discovery where I apply my broad skill set as a bioengineer, maker, and developer.
					p.extra-pad-top Previously an&nbsp;
						a(href="pages/microfluidics.html").stylized Undergraduate Research Fellow at the Maryland MEMS and Microfluidics Lab
						| , a&nbsp;
						a(href="pages/Canon.html").stylized Research and Development Intern at Canon US Life Sciences
						| , and a&nbsp;
						a(href="pages/bikeshare.html").stylized Full Stack Developer and Team Liaison for Team B.I.K.E.S.
					p.extra-pad-top Feel free to&nbsp;
						a(href="mailto:dev.act.kyle@gmail.com").stylized send me an email
						| , connect on&nbsp;
						a(href="https://www.linkedin.com/in/kylemorganking").stylized Linkedin
						| , follow me on&nbsp;
						a(href="https://github.com/KyleKing").stylized Github
						| , or view my&nbsp;
						a(href="public/pdf/King_Resume.pdf" target="_blank").stylized resume
						| .

		.container.container-summary
			.row
				.col-lg-12
					h1.container-header Work

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#MSD
					.row.project-MSD-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Meso Scale Discovery
								p.button Systems Engineer I
								button(href="pages/MSD.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#microfluidics
					.row.project-microfluidics-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Microfluidic Immunosensor
								p.button Independent Undergraduate Research Project
								button(href="pages/microfluidics.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#Canon
					.row.project-Canon-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Canon US Life Sciences
								p.button 2015 Summer Intern
								button(href="pages/Canon.html") Read More

		.container.container-summary
			.row
				.col-lg-12
					h1.container-header Projects

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#CAPSTONE
					.row.project-CAPSTONE-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Senior Capstone
								p.button Pediatric MRI Distraction Device
								button(href="pages/CAPSTONE.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#bikeshare
					.row.project-bikeshare-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Stationless Bikeshare
								p.button Gemstone Team Research Project
								button(href="pages/bikeshare.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#class_projects
					.row.project-class_projects-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Class Projects
								p.button Highlighted Assignments
								button(href="pages/class_projects.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#PhotoFrame
					.row.project-PhotoFrame-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 PiSlideshow
								p.button Raspberry Pi PhotoFrame
								button(href="pages/PhotoFrame.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#PiAlarm
					.row.project-PiAlarm-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 PiAlarm
								p.button Another Raspberry Pi Alarm Clock
								button(href="pages/PiAlarm.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#N1
					.row.project-N1-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 N1-Unsubscribe
								p.button Nylas Extension (Soon part of Nylas Source!)
								button(href="pages/N1.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#SoundCloud
					.row.project-SoundCloud-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 SoundCloud Generator
								p.button Generate custom SoundCloud Playlists
								button(href="pages/SoundCloud.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#3DPrints
					.row.project-3DPrints-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 3D Printing
								p.button Rapid prototyping side-projects
								button(href="pages/3DPrints.html") Read More


			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#extensions
					.row.project-extensions-image.card-image
					.row.text-center.card
						.description-container
							.content
								h3 Other Open Source
								p.button Meteor Packages & Chrome Extensions
								button(href="pages/extensions.html") Read More

		.container.container-summary
			.row
				.col-lg-12
					h1.container-header Volunteering


		.container

			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#TEMPLATE
			//- 		.row.project-TEMPLATE-image.card-image
			//- 		.row.text-center.card
			//- 			.description-container
			//- 				.content
			//- 					h3 TITLE
			//- 					p.button DESCRIPTOR
			//- 					button(href="pages/TEMPLATE.html") Read More

			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#NEXT
			//- 		.row.project-NEXT-image.card-image
			//- 		.row.text-center.card
			//- 			.description-container
			//- 				.content
			//- 					h3 Current Projects
			//- 					p.button See what I'm working on
			//- 					button(href="pages/NEXT.html") Read More

		.container
			.row.section-spacing

		block layout
