extends ./head.jade

block body
	body.body.page-index.clearfix
		.header-image
		.callout-box.clearfix.callout
			h1.text-center Kyle King
			h4.text-center Bioengineer, Programmer, Cyclist, Inventor

		.container
			.row.section-spacing
		.container
			.row.section-spacing

		.container
			h2.inverse.section-header.text-center Highlighted Projects
			.section-spacing

			//- - var arr=['one', 'two', 'three'];
			//- - var s = 'string';
			//-     section= s
			//-     - for (var i=0; i<3; i++)
			//-         div= arr[i]

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#microfluidics
					.row.project-microfluidics-image.card-image
					.row.text-center.secondary-bg.card
						.description-container
							.content
								h3 Microfluidic Immunosensor
								p.button Independent Undergraduate Research Project
								button(href="pages/microfluidics.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#bikeshare
					.row.project-bikeshare-image.card-image
					.row.text-center.secondary-bg.card
						.description-container
							.content
								h3 Stationless Bikeshare
								p.button Web Developer on a Gemstone Research Project
								button(href="pages/bikeshare.html") Read More

			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#side-project
			//- 		.row.project-side-project-image.card-image
			//- 		.row.text-center.secondary-bg.card
			//- 			.description-container
			//- 				.content
			//- 					h3 Top Secret
			//- 					p.button Work in Progress Projects
			//- 					button(href="pages/side.html") Read More

			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#CAPSTONE
			//- 		.row.project-CAPSTONE-image.card-image
			//- 		.row.text-center.secondary-bg.card
			//- 			.description-container
			//- 				.content
			//- 					h3 Senior Capstone
			//- 					p.button Pediatric MRI Distraction Device
			//- 					button(href="pages/CAPSTONE.html") Read More


			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#Canon
			//- 		.row.project-Canon-image.card-image
			//- 		.row.text-center.secondary-bg.card
			//- 			.description-container
			//- 				.content
			//- 					h3 Canon US Life Sciences
			//- 					p.button 2015 Summer Intern
			//- 					button(href="pages/Canon.html") Read More


			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#extensions
			//- 		.row.project-extensions-image.card-image
			//- 		.row.text-center.secondary-bg.card
			//- 			.description-container
			//- 				.content
			//- 					h3 Open Source
			//- 					p.button Packages and Extensions
			//- 					button(href="pages/extensions.html") Read More

			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#3D_printing
			//- 		.row.project-3D_printing-image.card-image
			//- 		.row.text-center.secondary-bg.card
			//- 			.description-container
			//- 				.content
			//- 					h3 Practical 3D Printing
			//- 					p.button Side Projects exploring CAD and Rapid Prototyping
			//- 					button(href="pages/3D_printing.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#alumni_cup
					.row.project-alumni_cup-image.card-image
					.row.text-center.secondary-bg.card
						.description-container
							.content
								h3 Alumni Cup Team Leader
								p.button Rube Goldberg-Style Engineering Competition
								button(href="pages/alumni_cup.html") Read More

			.col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
				.card-container#class_projects
					.row.project-class_projects-image.card-image
					.row.text-center.secondary-bg.card
						.description-container
							.content
								h3 Class Projects
								p.button Highlighted Assignments
								button(href="pages/class_projects.html") Read More

			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#microduino
			//- 		.row.project-microduino-image.card-image
			//- 		.row.text-center.secondary-bg.card
			//- 			.description-container
			//- 				.content
			//- 					p.button 4K for Cancer and Side Projects
			//- 					button(href="pages/microduino.html") Read More

			//- .col-lg-push-0.col-lg-4.col-md-push-0.col-md-6.col-xs-push-0.col-xs-12
			//- 	.card-container#NEXT
			//- 		.row.project-NEXT-image.card-image
			//- 		.row.text-center.secondary-bg.card
			//- 			.description-container
			//- 				.content
			//- 					h3 Current Projects
			//- 					p.button See what I'm working on
			//- 					button(href="pages/NEXT.html") Read More

		.container
			.row.section-spacing

		.secondary-bg
			.container
				.row
					footer
						h2.text-center Get In Touch
						p.col-lg-push-0.col-lg-6.col-md-push-2.col-md-8.col-sm-12 I'd loved to talk about bringing my enthusiasm and multidisciplinary experience to your company. I will be graduating in May 2016 with a B.S. in Bioengineering from the University of Maryland, College Park. Please get in touch through one of the icons in the footer.
						.clearfix.hidden-lg
						.col-lg-6.col-md-12.text-center
							a(href="mailto:dev.act.kyle@gmail.com").unstyled
								i.fa.fa-envelope.fa-3x
							a(href="/pdf/King_Resume.pdf" target="_blank").unstyled
								i.fa.fa-file-pdf-o.fa-3x
							a(href="https://www.linkedin.com/pub/kyle-king/57/4/8b7").unstyled
								i.fa.fa-linkedin-square.fa-3x
							a(href="https://github.com/KyleKing").unstyled
								i.fa.fa-github-square.fa-3x
							a(href="https://soundcloud.com/kyle-king-11").unstyled
								i.fa.fa-soundcloud.fa-3x
				.row.footer.section-spacing

		block layout
