extends ./base.pug

block layout
	//- main.cd-main-content
	//- 	+Template.dynamic template=full

	.cd-panel.from-right#cd-panel-toggle
		header.cd-panel-header#Slide-In-Panel-Header
			block title
			a.cd-panel-close(href='#0') Close
		.cd-panel-tooltip Or press ESC to close
		.tooltip-arrow-right

		.cd-panel-container
			.cd-panel-content#Slide-In-Panel-Content
				block Slide_In_Panel_Content
